CREATE TABLE countries(id integer primary key autoincrement,
name varchar(50)
);
CREATE TABLE regions(id integer primary key autoincrement,
country_id integer key,
name varchar(50)
);
CREATE TABLE stations(id integer primary key autoincrement,
region_id integer key,
name varchar(50),
longititude real,
latitude real,
code varchar(50)
);

