[Desktop Entry]
Name=OMWeather
Comment=World Weather
Type=HildonHomeApplet
X-home-applet=libweather-home.so
X-home-applet-resizable=XY
X-home-applet-minwidth=50
X-home-applet-maxheight=400
