Source: omweather
Section: user/accessories
Priority: optional
Maintainer: Vlad Vasiliev <vlad@gas.by>
Build-Depends: debhelper (>= 4.0.0), libgtk2.0-dev, libosso-dev (>= 1)
Standards-Version: 3.6.0

Package: omweather
Architecture: armel arm i386
Depends: ${shlibs:Depends}
Description: World Weather on Nokia 770/N800. This applet uses weather.com
XB-OMWeather-Icon-24:
MB5!.1PT*&@H````-24A$4@```!@````8"`(```!O%:JO````"7!(67,``"XC
M```N(P%XI3]V```#&$E$050XR\U4WT_;=10]]]-O"RVM,!C64LJ8)8@3C+@)
M;CKA@2R9F88838SQ21/?C#X8L_AFXA\Q8S29CR1N<5G8(D;71(E9`D[G.E<=
MC!]EP!BT7VF[\OU\/L<'JHPQDVWAP?MX;NY)[CGG7B&)[2B%;2IG*Y3E]''O
M6)8S]=CY4=4G0=2LXX0]6GZW`/=QU?6._WT_`IO&>+?*F/2;I2//%MI'=>I?
M\`?]_6O%@9>*SY=8VCIR]]7"$FF3CG;5<4:?7$<,S"D]-.B\[L"I1O6]:R1*
MU&'?X'D[NL@%`+.<*J#0H3KO7VRBWSED85/Z&P"G]5<O.Z\^D&N"J#3M5;W#
MYF2>N4OFP@'5+P]FOT`..X._VTO'];%N7T]8(KQ?(@MC:``\K7KCDCBEAUYT
M7@%@80D0O">B/'/?ZN$T?[EL?PM*J,\9V*_Z8A)?X<V4&7&12YD1"_N?@:0[
MBZE1EO-EN]`9\;I:CVIX]D;ZC4S1,TH:3Z\EG^B_:OH6D\!G=G>U2AQD?IJ9
M8:X55>Q)D*2U]L\1_=W'=N4:21IM)\[ILQ_:Y0F2=GI4GWBKTK+6G/]4G_F`
MM.LYM),I,_9Y)9"\D;;I$VK?VU*W"P"43UI?4,T]=NP+>$5IV@M_"/._`H"(
M/+P'I67F9RN+Y*9DU\&*1IP\)P\E)!*_S3!!RW[\-<>E*_`%)/84KX^#%@!7
M)A&HP=PX`-!R=4'J6OXA<F=1TWBG]S51`'#G`$AS#U<7Z,[`*\%XJN4Y.W\!
MQN/-/Z2A#;ZJ"I$X(9CRE@AX`.`$`$A#&P(1S%_DRH0TM"&^#VZ6J_.X/H[F
MG@W[)=K)Y0G0;+J0Y:M0#AH>`P`G*(]T,3N&I0P:]\B.1U%=RYF?>&M5(DVW
M$24'$`@S<W9=!0!8*_#RUY(<D-I$9=/F7KHS+"Q*J!XB*OX,)U-2OWMSCJHB
MO@/OV8M#_/E+V=$*7>;2%6GJEN0A2.6\I#:!<$QVMD,4`,2Z,?6C1+LV--WX
MV22*2[R5@W(D'(4_=.<[<+,2K(<_"`!6T\U*70L@6XC^)\]_VXC^!KJ#ILN&
/)DD``````$E%3D2N0F""
`