Source: omweather
Section: user/accessories
Priority: optional
Maintainer: Vlad Vasiliev <vlad@gas.by>
Build-Depends: debhelper (>= 4.0.0), libgtk2.0-dev, libosso-dev (>= 1)
Standards-Version: 3.6.0

Package: omweather
Architecture: armel arm i386
Depends: ${shlibs:Depends}
Description: World Weather on Nokia 770/N800. This applet uses weather.com
XB-OMWeather-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
 WXMAAC4hAAAuIQEHW/z/AAAAB3RJTUUH1wQGExIej58vsgAABXBJREFUSMftVmtsk1UYfr7v69fL
 urVj5bLSlo0NaDcZ4JQKijKQbqnKxUVREhJFoyISokE0gcRoFhMRsoBRAzGEP5oobiQYhkYkUi+M
 jTBg4DoQBmthW9ddul723c75jj8I5fpD0J88yfPn3J7nvOec9z3AfdwjuLudsG7dOq68vNzs8Xhy
 RkdHSXt7e7quro7+b47q6urGtbW1vR+JRP6Mx+OxoaGh1ODgYOLKlSsdp06d2rJx48bx/1lk06ZN
 ns7OznOpVIoNDg6yeDzOYrEY6+vrY729vay/v581NjYecDgchrsO3erVq3OWL1/+pNvtrgLgdzgc
 88xmc7Zf1/UsCSFQFEVNJpN7mpqaNm3YsCFy63p3dPDjJ089OKNy4p4xjkipYYKX43LGg+O4LBlj
 YIzhZOoELkkXYWAivCav8S/r6ZXaPGV+2b5pb4aXnmsqbS4qBzADQBd/o0BlZSV38dOJ71XYe36w
 lCycwo2t4LRf3wYLfw1BEMDzPDiOA8/zEAQB5XkP4Iu+z/G3eg4eyyRw4LELX3mmdfiKAODC3O4O
 AAsBnMmKBINBsW3/9p3JL9366EiMSZLECCFMl0dYakcRo6kedifUR7ayZe3PMEmS2PDIMFvQ+gRb
 88fqY9u2bZtU2lxkKW0uWg8A2R0tXrx4uZOLvKaPreQIZ7l+iCYbBKcf5NzebBulFKqqQlVVLMoL
 IJwJIypHQRmFQTCgN7fn4erq6lBB3PEygJ9vEuI4bi6nJTndaAelFJRSEEJAKcUZcToaB+xojmtI
 JpOQZRmKomB0dBTDSQ8cdBV2Rn7DodhBvGB7Ee3SKVwm0WIbsdcC6AAAPhAIGEKh0Nrq6uplumgD
 k4ezbq/RJ7ejQfdjZQuBQq6aYIyBgcP6TjPMZCnC2vc4nT6NgLEGJYZS/EQOoKakZubH3ZtrAIBf
 smTJqwUFBZ+pquqSCgPgB9qgpAcgyzIkSUJy4AoQa8VcpwM2I4/fM7mwWq2wWq04nMrBBAuPYstE
 XCRdKBxTCIPBgCoswC/KQfi5R8Y5nc49tbW1ZbwkSeZsKIwujEx9C6bmd6H2nUQm0grxyDswzPkA
 BosNr0wWsOsSgyAIEAQBEZnDzHweeWIuHs17DEH70xBFESUDU+DjypCr5UGSJMPw8LBDyGQyZ9xu
 t9npdE4rKCiwCONncapjNqzpDuSbNBhmrYGpaD6OJYDn3AI+6qBYNIHHKAGGVGBABVQGrC32wW10
 Q9d1mGGGN8fHhIwQ279/f31DQ0OjEI1GtaampkMtLS0NsVjsWDQaPS5a7BXjfVVWfux0GCx28DyP
 1mEgUCjgzAjDZQnolRleKhYQijOoFFjhGgtKKXRdR25uLvL5fLZ79+4P6+vr6ymlCg8AhBB6/Pjx
 C1u3bv3m7NmzOwkhKiEEN5IxHYwxvF4i4LsoBdEBkb+eJTRNy45VFAWyLPNer3d2VVUVuy0Fbd++
 3R8MBr81mUwuTdOyOY1SioRsREaimGHl4TQBzxZSKApFRtWRIQyyrEDTNGiaBlVVoes6ampqnvd4
 PHI6nX7jJiGz2bwqnU5PVhQFoihmHZ5OUJSIOg73AHPyGbZM5ZFHGNoSHB7KuWrmxICGUqOS3Zmm
 achkMgKAFRaLZfNNQl1dXTvKysqqXC6X9+ob5iAIAqbbeXg1CbquQ5IAjyCAUhFTLMAkQb0WPp0Q
 nYiiaGTs6s3UNE07f/783nA4HL2tTPj9fnswGJzv8/lmiaJoSyQSg/39/T0VFRWVdru9hOd5syzL
 6Z6enrCiKIMej2e6LMva0aNHQ93d3Z2BQOBxm83mSiQSI6FQqHnfvn1HksmkdC+ln7+ljnH38iW4
 j3+NfwDlLesxapxydAAAAABJRU5ErkJggg==
