[Desktop Entry]
Name=MeeCast
GenericName=MeeCast
X-Nemo-Application-Type=silica-qt5
Exec=harbour-meecast
Icon=harbour-meecast
Terminal=false
Type=Application
Categories=Utility;
