[Desktop Entry]
Type=Application
Name=MeeCast
Icon=harbour-meecast
X-Nemo-Application-Type=silica-qt5
Comment=Weather forecast for Sailfish
Exec=harbour-meecast
[X-Sailjail]
Permissions=Internet;Location
OrganizationName=org.meecast
ApplicationName=MeeCast
