[Desktop Entry]
Name=MeeCast
GenericName=MeeCast
Exec=invoker --type=j /usr/bin/harbour-meecast
Icon=meecast
Terminal=false
Type=Application
Categories=Utility;
