Source: omweather-icons-flat
Section: user/accessories
Priority: optional
Maintainer: Vlad Vasiliev <vlad@gas.by>
Build-Depends: 
Standards-Version: 3.6.0

Package: omweather-icons-flat
Architecture: all
Depends: omweather (>=0.15.1)
Description: Flat iconset 
 for Other Maemo Weather
