Source: omweather-icons-tango
Section: user/desktop
Priority: optional
Maintainer: Vlad Vasiliev <vlad@gas.by>
Build-Depends: 
Standards-Version: 3.6.0

Package: omweather-icons-tango
Architecture: all
Depends: omweather (>=0.16)
Description: Tango iconset
 for Other Maemo Weather
 Author  Chris Stark cstark1+gnome@gmail.com
 http://darkobra.deviantart.com/
 and other GNOME Icon Theme artists
 http://www.deviantart.com/users/outgoing?http://people.freedesktop.org/~jimmac/icons/#git
 GPL
Xsbc-Bugtracker: https://bugs.maemo.org/enter_bug.cgi?product=OmWeather
XB-Maemo-Display-Name: Iconset Tango for OMWeather
XB-Maemo-Display-Name-pl_PL: Zestaw ikon Tango dla OMWeather
XB-Description-pl_PL: Zestaw ikon Tango
 dla OMWeather
 Autor  Chris Stark cstark1+gnome@gmail.com
 http://darkobra.deviantart.com/
 i inny twórcy ikon GNOME Icon Theme
 http://www.deviantart.com/users/outgoing?http://people.freedesktop.org/~jimmac/icons/#git
#XB-Maemo-Icon-26:
# iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
# /wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9kGFhQRB9VFp7sAAATkSURBVEjH
# 7VVLbJRVFP7Ovf9rpp3pMH1MBxjAvkl5tZVngAQ0inGhotGluvG5INFE3bkxkpiIiW5JNHGjGzdg
# TAwxSkLCQwgCAy2UlE6ftJ3OTDud+V/3HhclRFIe1sTEhV9yNvfcL985954H8F/G9BVYy+WIfyIk
# SOxfLsd4mDN/heohnLiEOxyyUQMWjjASEZKNffnszd9BQcW2w2ptKzifhcEANXQjWLYQIT4v7a6X
# tCpcELqkiSxLGJmkMNPlkP31rAplz3MX8ldpHlw+AOhvl53R1GXTgVAZEolZw1jbK0ey0sxXN5Dp
# r4UYdzig7qCu7qyfXpkjGd+kg1xOhzkG+AFB3wczWcMmirYImUzahfpeuxR7QzRv7UBjp4AdX+R4
# JcZ0v9IT5wb8lH3crcn9zOFojoLK8IrNrB8qlL8iY9LqaGH4DOZ4JCd3W9Gt71PbviSzKSAiAN0p
# OPYB7YLI1zx4ouiXzx2urHVPsi6MVGLViUzmERkVB/s2CXPdVmNmLuO4yUNo3VsHRAiyBpA1gIgs
# XtRVQC0sGiqMwV8KLq5+6DXxqA5vMdgbru9G/33Lu3gNpP3rng5y4/ZU5QW0bItDa2JBYAEwaTCC
# RSO9eCYI0Exo3Z6wy4lDeX/HE9nZ5zcyiesP7CPN0gE5UWuiuFKk2ttZeYJJA6TACMHwAFQBVMHw
# wAgXfaTBKhS6sbPt/OQ7b5Xszz/59Mz5zAOrTrPhCGGa5mzYw2uaDCAAUwDAB0gAxNB0p010CRyM
# AN444E9joRrFr9UPnG0b12NstspEejWA4ftmZFhraqXVmSIz0cLSFQwfDB9MPjQqUHoEKvgdYfU4
# guoxKP8ctBpC2ffw0+gzeOrxHqxrqsHOjnpKJ2oOv/f1xeSSjGavNq4gmWohEXGAIiEYhVYVsBWD
# VgwWAdgwwEICJnBxYjeK4SvwK1koJPHc/h2I2nIxekF4+0DbnqMnbh4FcHBpeWfNGMn6zli/86ro
# 3vxmyFOmtiJgK4pb8+2oqBgK1TRctQv18Wbs7GyCF2gIAZhy6dj84fTo9Kn+me1HXu8ZuuePJClX
# s+cHyeh5pzAXoN40z0w8jalgN9pXd2FF3EQ6ZWBlMnKXY5v3CjAzlFYIgwAHNjc0EnAm9t3lz+4R
# qjN1MBt4JS+lB+0bU1mZyvTlg16xZ0MPItKDUh4MQ6FcCSGFBJG4+ySaGVoraK0QKoUwDMDMeHJD
# vJEEPl7SsLNZMyqc3u1WMb7Xmc8fyq9qS5wa30+PZV5EjSNhSoGIdGGaFhRbUME8lAoBEGqitXC9
# KgJEECqNfDnk/vFK7ubk/DdLJ8P1llqSK7focCKMDKldll37UdjanLw2t1lWdRxFNw0tdiEISnDd
# UXSs2YdUjDDnEk5fH5pJxBowMFY9drvk/QbgFkiePPLaJl4ixAwUBkCsI2kS8bQzFemyi/Jdaor2
# 6caY0I5NmgWkV4GYmgsvjmy5cMo4eAlcGni25csfCXn91Y3vB794edejpzcAFC+BlLSTJCJpaXVn
# zBlsMMdyq4goBYDZinlhwjpfTU6eYS6XtHbHGqaDBdqHv78m/orSVWmyvW0rq/F5reYACAkAwmiK
# EtXGlPfHWUZQauheuhqWJQQAhf5VzvztMbeuHkYIKZgZttZhYDc3JLsmp/A//k38CVYPWY5ke9EO
# AAAAAElFTkSuQmCC
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9kLEAgjAG6WpxAAAAAZdEVYdENv
 bW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAO+ElEQVRo3u2aa3Cc11nH/88573WvklaSJUuy
 ZVu2Y8uxZce5kCZNGNrUQJOp0/KhpaQJtJDpFIZkYKZfmIEPDB2gbYbhA9NCWsJloDAB0iFMKE1I
 M3ESTxI7tuW7JV9kSWtJu6u9v++5PHzYtWTFyVRx6xZmODPP7Lua3Xf/v+dyzvOeI+AmjfwRIH8E
 Ajd53LQfEA6EJOz4PwtAwHoSGPtfBVB8B3LhKGh1AOEuwB0on0rTzQRwPsiHrUAfJDoBHFuR7+9A
 iBgue+Q6gSPZOo5whoZhjatVsat0FJVsFxQNgH+6ABLzAsGvF091VMifvUhVhFo4aWaRgCNdAUjW
 DpHTmRKyL8HCEnNzRJuwUFjUan6ca56rK2lCkzYv33fhODqZkekexYWbCtCzHVHp9PBJkqlP2jj4
 vhZXYgHXEUJIwJFMUgBEUq7tEbK7xmABNDoIsWKrDUinYqVz86yrC+OmoOu24SYwyIzPE/DUTY0A
 /z4w/yB8IDlLMjckZc9ewDnOtm6ZXAeQgkhIkCBye7pAviViK0RnRlOhDmkMsdbESoNjlzlOuulk
 lk3104zmZPcoijcVoLyfUkK6a8ClGtHwIkg60h/dYuNz04AFkSOZhaAYoWzyRrIVjwO/Yfx0U8pU
 ha3RTMowa8UcKyk7B4ic+ywWUsyFV4HazamB0g9AUafToaTXK8gLLJQQ4Jggk0SpwFXrup3J0/1O
 ubqXFN9Cwu+EPCcAAqwGrGpY0hM2IQ+rNcGrKudfhr8+JNGxHrbWJHIu2WapsXCMUhRytWvTjxGA
 GSgclVkp3F5BYQgKAiLPBxtDTZX1z567WxaLd1B6II2RXTG6N/tI9Rp4SQsSgG4waguBWLy4UUwf
 2SInT+73p6Ij8ab+13RvMM1CVokbs0Suy+T1yyieBrj2Adeb9x9zx2WS4A0ICkOmRChEGAgRBN60
 c7t/qfQblBnowo79QNdGD1ZL6LhFvWJ50YATAo6wqBcUzr6keeJVNt1dL0XbN79kzLmTJp4tgBsN
 5lpN6miqYxeiGwKYG4frM0xmB2xpnFzD7joSqRSLMBQiGQr2E8Gp+j63zI9i5yeYhj+URFQRUDEg
 fIAcMCRAV2/LAFsQG4A1IAF4AVCdreHg30lrSkcbI94fq0Q8x1xvwFYblhuLEmaqc9TaDwwwP44e
 QR0PSG/DpGVVZjPnAMIjkQgFJxKJk7WHnIb/Wdz1KJDpTaJZJ6YQIA8QDkAuQPKaCDBwVTwrgBXI
 xoBLAHGMN/8htgtnjtdHk19RiXgettpg26hbbuR7RvXCDaVQ8fTGIZJrPy5k1iHyFpmVZo5NcHpq
 zJuPvoR7HyckskmOYkCEgPBawoXbAiGnDUEATKuQ2+JhFcAxYGNAxCDXU3j9byNTuXCgNpb8qkGt
 Cq42mGsVl6ILmW1QHxggOgFqyI1bhTd6B0QiIEhXlMp94ZHjv0l3fNpD17qQmw1AJq4R77Wj4Laj
 4LZuze8WH7VebQzYCBAK5IgY//1No93KX1VHk8/BqpjRdNkUXXAlBSADwoHcdpxY1SwUWfINzzDg
 nCVvxxaQTPqnz+2joTEPPcMB1xZbnidqmwATLac9GEA7fYmx1P0QwBAgIkBQK80swKw92vMLDXng
 Hz/jNwbzKuMamLluw3GOTW0RsH8ZSZxcdTcaW5kGHNfammV1fsadne6RsdmOW+51uFEikFyKGwNg
 YgAMhm2bAUO1jDWYDJjs8ucI13R0BMQa6OgN0D8Seucv30/kG4hEZKnjDNh9KjeKo2u3vn8TuCIC
 PAsqFERakOswOQ4QwZucuAMbfgYs4HKsASGXvUu27e2rptuFS++KhmkZWYDtEshShKKIaPNtJF/5
 zt6LM2uPPzv5W/ubpqPP2tqm3/62//hTj94WryoCtQpcZsdlciSRI2UNGaHFGIa2MeJqy/MrhLcE
 MhkwTBtAtV+XrRWV9nfoGgMDxGBjgGTW50yPPHh69JHdI5sGv/TzI05PtvMRAfHAqh9oVBM+ETmA
 lARHevnmdiQ7PA7DkK1eFgzbTgsDpqvebacL9HIKQYNXgCzDMFZGj7WmY5l97gWzJXvr+g70dyUw
 1J2QYAyvupXQ0vUkHAFIARJClvUo+ocArQTYAmRaCxVMm11cM5Fx2whM1K5aBoEBMgA3waYM6Dw4
 vgLoBUBXQNZAcRbfnfosztd3+vfs6UJnykO5rjB+qcySdHHVAMKyC9maWoiFIGWHkOmSbBotidSC
 ALXE8wqANgQt/425CjZzsOoSoOYAUwKsAhkDsAFZDbYab+b3YN7uwRf3bUAqWJb0wFgfPfv61BNP
 fOvQd7/+2O7yaqZRAQbByYVE/WvBJ9YglTEwVTCFAExb9DVRIGrXRntG4iqsmQHrGbApAtwEcbuQ
 hQDBacXJACwYsfHxxsI+fOKe/hXiAeDOzTkcmijtnshXPwbgn94XoHQyK8jbnAF5I0J0D4ASaShO
 E8OHQ8TxZcAdaosXrZwmas0kHIG5CbYFsJ1ref1qUAS3BFtGQyfRjD34oo6kXASzwJv5D+GlqYeR
 6+jBcG/yOnFSEHauz4qZYuOZJ791aIgE/dlXPzemVwBcOgAyWo9IR+8kmcswOUsOBYFbK2cJtrEA
 eP2Ak2h7W4PRBFMEJt1a0IRs90S01I8zM47N3oIXz9wPpjVgs4APr/tPCBi8Nv8r+OWfHcaG3tQ1
 C+HKce/2Hoz0p4KnX5z8o0IlHgfwwgqAobvBQO106VR4xppDA6BEH4muDoGOboBrUPU0hAPoAjiu
 g40LSAcsHbBwAeEsCWchlurjak1cKefwwqmH8am7RzDUncB8OcLf/6AL1UYTn39gAzauSf7Qhq2/
 M8R923u9f3lj6uHrAK5edGx9jRdOunWYZpOEqkLWwcJOU2luHXoDsJKAEIBoe5rk8vUShASTxMXC
 IN6a3IHpUi+qzSQ+PDqAbYMZAEAqcPCFB7ZCECGX9lb94JL0JQAMPfn0Ifm1X91t3rOIHaViLT0L
 GMtsjfXlObFYHKP+4aCV820Pk2hfS+Sra/D21B4UG53oyRQhpcXRS3fh9s392LslhLaMoVy4cncj
 43+gx0ZmRkfSQ3fa++h8Jf7dJ//68J987XNj5rputHICTmyDTSTTKRLpZHiR9voF8Qd8792erp71
 LBEgXUzVhnH4yl440uLIzB7cOrwO/V0hJmZrmMhX8Wsf2Yi+juBH3rRiZlhrYa2BEBKLdY0//4+z
 0WJdPUOMv0lfLL1yXeksHHfXC0p1sEgnpU1m0m9WvkF793TpUCWNqWK2MYRvH3sCezb2YfJKHT93
 6xpsG0zDWgspJZiXa5iIbkj0tcKNNbDGwliDMAhxNt/A+XwNb5wtqHJDf/G6dtoxpqKlThErbaWO
 bChflhcv7Zc7NrGxdTpb3IrRoV48ePsgrGVYa1CplgECpJCQUoJAICEgiEDUaqFbLO8FxGC+KtzC
 XiOerYWxFta2AGIVY7g7iZE13diwJuk+/eL537kOwDhcZatjwcpnVioaSH4/cbbwENXXRtIPg46g
 iCPTdcwt1mGZ0JmUaEYNkBCQJFrCrxPfNtAKBuarANfaMgRbC8PtV2NAglCtWRARujMZeA4NyXcD
 fOVTMFGSXUAGoMChrp3dstJMiPzcJjHQQ53hnMhXXTx/WOPQ+Qb2bOyGgIFSMTzfR+CHUHGEKI5h
 jG6Z1QAD2mooFUNrtWRK6+X3pv1eKTAzAj8As0WsYriOi1xnLxR8+H4Crxy/grOz9effM0kXx+Ep
 JIbd8M4RctYMitikEwffepwGO/t5Y08iZksVk8Xzpz4O8u7Bg7cPIBVIFCoKF+br2D2cRXGxgChq
 QEiJTCoLxw3hSEJpcQFxHC21f1cfVRJhEp7noVItQ2mFnlwv8osGmYSDdOigHlm8PJ7HgVMFJH1p
 izV9gIEv0PttaJXP3b6DnIEPEaFuTansXp7pDSZrf0i39Hu8NpuN4aBqs/j3E7+IieIYPEciVjFi
 o3HP1j58ZFcfBDGICPOVGN95dQrbBtO4f7QbVxbyaDTqS4Xe2ZGD56dxbraK0aEMGIx8qYlvfG8S
 AOC7EkpbrjT195jxZYBqDDv99cf2VN8ToHRqbZqcdR+1rGahJ6rMgU8iEQZTuNW/3Pw92pDzeX1n
 Skvf0TLAQrMXpagT3ZkSGBL/+vbHMF9dj6FcGg1lkC8uYLR/HGfmtmBs4ybct2MNHDIwxsB1fVxZ
 jPDPr13ifKlYz6WziY6ES2dm60Vl+MvtlXcTgAtCiok/fWQX/9CducVTuaSyYUR6SkD6g4REChQG
 JMMguIxt/lTzSepK9GNzp2MTfqhlAkaGYOGCSUCzi8vFfsxVuhDIJgY7ppDzZlAsh3juxH5TMmNy
 XU8S6UBidjHGhSuVcod39tmHNv/FwtszdzkH8588BhavW/D4U4/t5hveWgSAhdMywdpdKxAmIIIA
 FPheWfaGE9EjQmEf1iYN1iXBvgwtuWDhwbb3hQgGZGNIG4GsVsg34njSOGei0YsvBr90sGIzIpDV
 i5uyr71yZ98zJxIelbUp38NsXu7esbrt9lWtNIVxhMxeP0k/SQg9FoFP5HlBPn2bN1v7jKg3tnBa
 grKOy1mnQR619CtmVE2AsrEoxcSWL+iM/Lf6FvcFK+ImuBkxR5E1jSqUmu7Z09rImpwEbdiwuuOo
 VS+VpXfIN57bC3bTggKPyfOkPzooRHefXJhNOFOTOVm3o6TtWlgkAUgQmuw4BZvpLJiu7LkoO/df
 RlYrsJEC4tjaKCaoxVpDX1m3l/UNnoaufswcgvA82cnk5ohczwvvGoHI5nR0aoJtOQakEBYOKXbB
 TOyQso7UbrhzhCF9br512Jhig1krpjiySs+5vil3br3xw78PdEbWvxsWMAvN06bcVKbTWL2L7Eye
 1YV5IikYUliQgNd+HmALsmytmpommbtV62qNba0CmHJoTCm5C+Ynekp5dQRboBbPbF1gWy0YzLzJ
 tiaZnAAEF8yS2WnP8RoAaR1PVKVrtzkOXRYiLqU2wdCP6fTYudEvGjMNgvdW1y2zc4efAzYMGwEJ
 oQlCwgqlAOFo6xtYRZFl4bytIlXt2fmje/2nMuZOwrt88Ob/88f/j5/0+B8TY9hQ8RAy8gAAAABJ
 RU5ErkJggg==
 
