[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=/opt/com.meecast.omweather/meego-panel-omweather
TryExec=/opt/com.meecast.omweather/libexec/meego-panel-omweather
Name=Omweather
Icon=bluetooth
Comment=Weather for All
Terminal=false
Categories=
OnlyShowIn=X-MEEGO-NB;
X-Meego-Priority=High
X-Meego-Service=com.meego.UX.Shell.Panels.omweather
X-Meego-Panel-Optional=true
X-GNOME-Autostart-enable=true
X-Meego-Panel-Stylesheet=/opt/com.meecast.omweather/share/meego-panel-omweather/theme/omweather-panel.css
X-Meego-Panel-Button-Style=iconna
