MnbToolbarButton {
  background-color: #fff0;
}

MnbToolbarButton#iconna {
  background-image: url("icons/Mecast/sna.png");
}

MnbToolbarButton#iconMecast1 {
  background-image: url("icons/Mecast/s1.png");
}

MnbToolbarButton#iconMecast2 {
  background-image: url("icons/Mecast/s2.png");
}

MnbToolbarButton#iconMecast3 {
  background-image: url("icons/Mecast/s3.png");
}

MnbToolbarButton#iconMecast4 {
  background-image: url("icons/Mecast/s4.png");
}

MnbToolbarButton#iconMecast5 {
  background-image: url("icons/Mecast/s5.png");
}

MnbToolbarButton#iconMecast6 {
  background-image: url("icons/Mecast/s6.png");
}

MnbToolbarButton#iconMecast7 {
  background-image: url("icons/Mecast/s7.png");
}

MnbToolbarButton#iconMecast8 {
  background-image: url("icons/Mecast/s8.png");
}

MnbToolbarButton#iconMecast9 {
  background-image: url("icons/Mecast/s9.png");
}

MnbToolbarButton#iconMecast10 {
  background-image: url("icons/Mecast/s10.png");
}

MnbToolbarButton#iconMecast11 {
  background-image: url("icons/Mecast/s11.png");
}

MnbToolbarButton#iconMecast12 {
  background-image: url("icons/Mecast/s12.png");
}

MnbToolbarButton#iconMecast13 {
  background-image: url("icons/Mecast/s13.png");
}

MnbToolbarButton#iconMecast14 {
  background-image: url("icons/Mecast/s14.png");
}

MnbToolbarButton#iconMecast15 {
  background-image: url("icons/Mecast/s15.png");
}

MnbToolbarButton#iconMecast16 {
  background-image: url("icons/Mecast/s16.png");
}

MnbToolbarButton#iconMecast17 {
  background-image: url("icons/Mecast/s17.png");
}

MnbToolbarButton#iconMecast18 {
  background-image: url("icons/Mecast/s18.png");
}

MnbToolbarButton#iconMecast19 {
  background-image: url("icons/Mecast/s19.png");
}

MnbToolbarButton#iconMecast20 {
  background-image: url("icons/Mecast/s20.png");
}

MnbToolbarButton#iconMecast21 {
  background-image: url("icons/Mecast/s21.png");
}

MnbToolbarButton#iconMecast22 {
  background-image: url("icons/Mecast/s22.png");
}

MnbToolbarButton#iconMecast23 {
  background-image: url("icons/Mecast/s23.png");
}

MnbToolbarButton#iconMecast24 {
  background-image: url("icons/Mecast/s24.png");
}

MnbToolbarButton#iconMecast25 {
  background-image: url("icons/Mecast/s25.png");
}

MnbToolbarButton#iconMecast26 {
  background-image: url("icons/Mecast/s26.png");
}

MnbToolbarButton#iconMecast27 {
  background-image: url("icons/Mecast/s27.png");
}

MnbToolbarButton#iconMecast28 {
  background-image: url("icons/Mecast/s28.png");
}

MnbToolbarButton#iconMecast29 {
  background-image: url("icons/Mecast/s29.png");
}

MnbToolbarButton#iconMecast30 {
  background-image: url("icons/Mecast/s30.png");
}

MnbToolbarButton#iconMecast31 {
  background-image: url("icons/Mecast/s31.png");
}

MnbToolbarButton#iconMecast32 {
  background-image: url("icons/Mecast/s32.png");
}

MnbToolbarButton#iconMecast33 {
  background-image: url("icons/Mecast/s33.png");
}

MnbToolbarButton#iconMecast34 {
  background-image: url("icons/Mecast/s34.png");
}

MnbToolbarButton#iconMecast35 {
  background-image: url("icons/Mecast/s35.png");
}

MnbToolbarButton#iconMecast36 {
  background-image: url("icons/Mecast/s36.png");
}

MnbToolbarButton#iconMecast37 {
  background-image: url("icons/Mecast/s37.png");
}

MnbToolbarButton#iconMecast38 {
  background-image: url("icons/Mecast/s38.png");
}

MnbToolbarButton#iconMecast39 {
  background-image: url("icons/Mecast/s39.png");
}

MnbToolbarButton#iconMecast40 {
  background-image: url("icons/Mecast/s40.png");
}

MnbToolbarButton#iconMecast41 {
  background-image: url("icons/Mecast/s41.png");
}

MnbToolbarButton#iconMecast42 {
  background-image: url("icons/Mecast/s42.png");
}

MnbToolbarButton#iconMecast43 {
  background-image: url("icons/Mecast/s43.png");
}

MnbToolbarButton#iconMecast44 {
  background-image: url("icons/Mecast/s44.png");
}

MnbToolbarButton#iconMecast45 {
  background-image: url("icons/Mecast/s45.png");
}

MnbToolbarButton#iconMecast46 {
  background-image: url("icons/Mecast/s46.png");
}

MnbToolbarButton#iconMecast47 {
  background-image: url("icons/Mecast/s47.png");
}

MnbToolbarButton#iconMecast48 {
  background-image: url("icons/Mecast/s48.png");
}

MnbToolbarButton#iconMecastna {
  background-image: url("icons/Mecast/sna.png");
}

MnbToolbarButton#iconMecast49 {
  background-image: url("icons/Mecast/s49.png");
}


MnbToolbarButton#iconGlance1 {
  background-image: url("icons/Glance/s1.png");
}

MnbToolbarButton#iconGlance2 {
  background-image: url("icons/Glance/s2.png");
}

MnbToolbarButton#iconGlance3 {
  background-image: url("icons/Glance/s3.png");
}

MnbToolbarButton#iconGlance4 {
  background-image: url("icons/Glance/s4.png");
}

MnbToolbarButton#iconGlance5 {
  background-image: url("icons/Glance/s5.png");
}

MnbToolbarButton#iconGlance6 {
  background-image: url("icons/Glance/s6.png");
}

MnbToolbarButton#iconGlance7 {
  background-image: url("icons/Glance/s7.png");
}

MnbToolbarButton#iconGlance8 {
  background-image: url("icons/Glance/s8.png");
}

MnbToolbarButton#iconGlance9 {
  background-image: url("icons/Glance/s9.png");
}

MnbToolbarButton#iconGlance10 {
  background-image: url("icons/Glance/s10.png");
}

MnbToolbarButton#iconGlance11 {
  background-image: url("icons/Glance/s11.png");
}

MnbToolbarButton#iconGlance12 {
  background-image: url("icons/Glance/s12.png");
}

MnbToolbarButton#iconGlance13 {
  background-image: url("icons/Glance/s13.png");
}

MnbToolbarButton#iconGlance14 {
  background-image: url("icons/Glance/s14.png");
}

MnbToolbarButton#iconGlance15 {
  background-image: url("icons/Glance/s15.png");
}

MnbToolbarButton#iconGlance16 {
  background-image: url("icons/Glance/s16.png");
}

MnbToolbarButton#iconGlance17 {
  background-image: url("icons/Glance/s17.png");
}

MnbToolbarButton#iconGlance18 {
  background-image: url("icons/Glance/s18.png");
}

MnbToolbarButton#iconGlance19 {
  background-image: url("icons/Glance/s19.png");
}

MnbToolbarButton#iconGlance20 {
  background-image: url("icons/Glance/s20.png");
}

MnbToolbarButton#iconGlance21 {
  background-image: url("icons/Glance/s21.png");
}

MnbToolbarButton#iconGlance22 {
  background-image: url("icons/Glance/s22.png");
}

MnbToolbarButton#iconGlance23 {
  background-image: url("icons/Glance/s23.png");
}

MnbToolbarButton#iconGlance24 {
  background-image: url("icons/Glance/s24.png");
}

MnbToolbarButton#iconGlance25 {
  background-image: url("icons/Glance/s25.png");
}

MnbToolbarButton#iconGlance26 {
  background-image: url("icons/Glance/s26.png");
}

MnbToolbarButton#iconGlance27 {
  background-image: url("icons/Glance/s27.png");
}

MnbToolbarButton#iconGlance28 {
  background-image: url("icons/Glance/s28.png");
}

MnbToolbarButton#iconGlance29 {
  background-image: url("icons/Glance/s29.png");
}

MnbToolbarButton#iconGlance30 {
  background-image: url("icons/Glance/s30.png");
}

MnbToolbarButton#iconGlance31 {
  background-image: url("icons/Glance/s31.png");
}

MnbToolbarButton#iconGlance32 {
  background-image: url("icons/Glance/s32.png");
}

MnbToolbarButton#iconGlance33 {
  background-image: url("icons/Glance/s33.png");
}

MnbToolbarButton#iconGlance34 {
  background-image: url("icons/Glance/s34.png");
}

MnbToolbarButton#iconGlance35 {
  background-image: url("icons/Glance/s35.png");
}

MnbToolbarButton#iconGlance36 {
  background-image: url("icons/Glance/s36.png");
}

MnbToolbarButton#iconGlance37 {
  background-image: url("icons/Glance/s37.png");
}

MnbToolbarButton#iconGlance38 {
  background-image: url("icons/Glance/s38.png");
}

MnbToolbarButton#iconGlance39 {
  background-image: url("icons/Glance/s39.png");
}

MnbToolbarButton#iconGlance40 {
  background-image: url("icons/Glance/s40.png");
}

MnbToolbarButton#iconGlance41 {
  background-image: url("icons/Glance/s41.png");
}

MnbToolbarButton#iconGlance42 {
  background-image: url("icons/Glance/s42.png");
}

MnbToolbarButton#iconGlance43 {
  background-image: url("icons/Glance/s43.png");
}

MnbToolbarButton#iconGlance44 {
  background-image: url("icons/Glance/s44.png");
}

MnbToolbarButton#iconGlance45 {
  background-image: url("icons/Glance/s45.png");
}

MnbToolbarButton#iconGlance46 {
  background-image: url("icons/Glance/s46.png");
}

MnbToolbarButton#iconGlance47 {
  background-image: url("icons/Glance/s47.png");
}

MnbToolbarButton#iconGlance48 {
  background-image: url("icons/Glance/s48.png");
}

MnbToolbarButton#iconGlancena {
  background-image: url("icons/Glance/sna.png");
}

MnbToolbarButton#iconGlance49 {
  background-image: url("icons/Glance/s49.png");
}



