MnbToolbarButton {
  background-color: #fff0;
}

MnbToolbarButton#iconna {
  background-image: url("icons/omweather.png");
}

MnbToolbarButton#iconMeecast1 {
  background-image: url("icons/Meecast/s1.png");
}

MnbToolbarButton#iconMeecast2 {
  background-image: url("icons/Meecast/s2.png");
}

MnbToolbarButton#iconMeecast3 {
  background-image: url("icons/Meecast/s3.png");
}

MnbToolbarButton#iconMeecast4 {
  background-image: url("icons/Meecast/s4.png");
}

MnbToolbarButton#iconMeecast5 {
  background-image: url("icons/Meecast/s5.png");
}

MnbToolbarButton#iconMeecast6 {
  background-image: url("icons/Meecast/s6.png");
}

MnbToolbarButton#iconMeecast7 {
  background-image: url("icons/Meecast/s7.png");
}

MnbToolbarButton#iconMeecast8 {
  background-image: url("icons/Meecast/s8.png");
}

MnbToolbarButton#iconMeecast9 {
  background-image: url("icons/Meecast/s9.png");
}

MnbToolbarButton#iconMeecast10 {
  background-image: url("icons/Meecast/s10.png");
}

MnbToolbarButton#iconMeecast11 {
  background-image: url("icons/Meecast/s11.png");
}

MnbToolbarButton#iconMeecast12 {
  background-image: url("icons/Meecast/s12.png");
}

MnbToolbarButton#iconMeecast13 {
  background-image: url("icons/Meecast/s13.png");
}

MnbToolbarButton#iconMeecast14 {
  background-image: url("icons/Meecast/s14.png");
}

MnbToolbarButton#iconMeecast15 {
  background-image: url("icons/Meecast/s15.png");
}

MnbToolbarButton#iconMeecast16 {
  background-image: url("icons/Meecast/s16.png");
}

MnbToolbarButton#iconMeecast17 {
  background-image: url("icons/Meecast/s17.png");
}

MnbToolbarButton#iconMeecast18 {
  background-image: url("icons/Meecast/s18.png");
}

MnbToolbarButton#iconMeecast19 {
  background-image: url("icons/Meecast/s19.png");
}

MnbToolbarButton#iconMeecast20 {
  background-image: url("icons/Meecast/s20.png");
}

MnbToolbarButton#iconMeecast21 {
  background-image: url("icons/Meecast/s21.png");
}

MnbToolbarButton#iconMeecast22 {
  background-image: url("icons/Meecast/s22.png");
}

MnbToolbarButton#iconMeecast23 {
  background-image: url("icons/Meecast/s23.png");
}

MnbToolbarButton#iconMeecast24 {
  background-image: url("icons/Meecast/s24.png");
}

MnbToolbarButton#iconMeecast25 {
  background-image: url("icons/Meecast/s25.png");
}

MnbToolbarButton#iconMeecast26 {
  background-image: url("icons/Meecast/s26.png");
}

MnbToolbarButton#iconMeecast27 {
  background-image: url("icons/Meecast/s27.png");
}

MnbToolbarButton#iconMeecast28 {
  background-image: url("icons/Meecast/s28.png");
}

MnbToolbarButton#iconMeecast29 {
  background-image: url("icons/Meecast/s29.png");
}

MnbToolbarButton#iconMeecast30 {
  background-image: url("icons/Meecast/s30.png");
}

MnbToolbarButton#iconMeecast31 {
  background-image: url("icons/Meecast/s31.png");
}

MnbToolbarButton#iconMeecast32 {
  background-image: url("icons/Meecast/s32.png");
}

MnbToolbarButton#iconMeecast33 {
  background-image: url("icons/Meecast/s33.png");
}

MnbToolbarButton#iconMeecast34 {
  background-image: url("icons/Meecast/s34.png");
}

MnbToolbarButton#iconMeecast35 {
  background-image: url("icons/Meecast/s35.png");
}

MnbToolbarButton#iconMeecast36 {
  background-image: url("icons/Meecast/s36.png");
}

MnbToolbarButton#iconMeecast37 {
  background-image: url("icons/Meecast/s37.png");
}

MnbToolbarButton#iconMeecast38 {
  background-image: url("icons/Meecast/s38.png");
}

MnbToolbarButton#iconMeecast39 {
  background-image: url("icons/Meecast/s39.png");
}

MnbToolbarButton#iconMeecast40 {
  background-image: url("icons/Meecast/s40.png");
}

MnbToolbarButton#iconMeecast41 {
  background-image: url("icons/Meecast/s41.png");
}

MnbToolbarButton#iconMeecast42 {
  background-image: url("icons/Meecast/s42.png");
}

MnbToolbarButton#iconMeecast43 {
  background-image: url("icons/Meecast/s43.png");
}

MnbToolbarButton#iconMeecast44 {
  background-image: url("icons/Meecast/s44.png");
}

MnbToolbarButton#iconMeecast45 {
  background-image: url("icons/Meecast/s45.png");
}

MnbToolbarButton#iconMeecast46 {
  background-image: url("icons/Meecast/s46.png");
}

MnbToolbarButton#iconMeecast47 {
  background-image: url("icons/Meecast/s47.png");
}

MnbToolbarButton#iconMeecast48 {
  background-image: url("icons/Meecast/s48.png");
}

MnbToolbarButton#iconMeecastna {
  background-image: url("icons/Meecast/sna.png");
}

MnbToolbarButton#iconMeecast49 {
  background-image: url("icons/Meecast/s49.png");
}


MnbToolbarButton#iconGlance1 {
  background-image: url("icons/Glance/s1.png");
}

MnbToolbarButton#iconGlance2 {
  background-image: url("icons/Glance/s2.png");
}

MnbToolbarButton#iconGlance3 {
  background-image: url("icons/Glance/s3.png");
}

MnbToolbarButton#iconGlance4 {
  background-image: url("icons/Glance/s4.png");
}

MnbToolbarButton#iconGlance5 {
  background-image: url("icons/Glance/s5.png");
}

MnbToolbarButton#iconGlance6 {
  background-image: url("icons/Glance/s6.png");
}

MnbToolbarButton#iconGlance7 {
  background-image: url("icons/Glance/s7.png");
}

MnbToolbarButton#iconGlance8 {
  background-image: url("icons/Glance/s8.png");
}

MnbToolbarButton#iconGlance9 {
  background-image: url("icons/Glance/s9.png");
}

MnbToolbarButton#iconGlance10 {
  background-image: url("icons/Glance/s10.png");
}

MnbToolbarButton#iconGlance11 {
  background-image: url("icons/Glance/s11.png");
}

MnbToolbarButton#iconGlance12 {
  background-image: url("icons/Glance/s12.png");
}

MnbToolbarButton#iconGlance13 {
  background-image: url("icons/Glance/s13.png");
}

MnbToolbarButton#iconGlance14 {
  background-image: url("icons/Glance/s14.png");
}

MnbToolbarButton#iconGlance15 {
  background-image: url("icons/Glance/s15.png");
}

MnbToolbarButton#iconGlance16 {
  background-image: url("icons/Glance/s16.png");
}

MnbToolbarButton#iconGlance17 {
  background-image: url("icons/Glance/s17.png");
}

MnbToolbarButton#iconGlance18 {
  background-image: url("icons/Glance/s18.png");
}

MnbToolbarButton#iconGlance19 {
  background-image: url("icons/Glance/s19.png");
}

MnbToolbarButton#iconGlance20 {
  background-image: url("icons/Glance/s20.png");
}

MnbToolbarButton#iconGlance21 {
  background-image: url("icons/Glance/s21.png");
}

MnbToolbarButton#iconGlance22 {
  background-image: url("icons/Glance/s22.png");
}

MnbToolbarButton#iconGlance23 {
  background-image: url("icons/Glance/s23.png");
}

MnbToolbarButton#iconGlance24 {
  background-image: url("icons/Glance/s24.png");
}

MnbToolbarButton#iconGlance25 {
  background-image: url("icons/Glance/s25.png");
}

MnbToolbarButton#iconGlance26 {
  background-image: url("icons/Glance/s26.png");
}

MnbToolbarButton#iconGlance27 {
  background-image: url("icons/Glance/s27.png");
}

MnbToolbarButton#iconGlance28 {
  background-image: url("icons/Glance/s28.png");
}

MnbToolbarButton#iconGlance29 {
  background-image: url("icons/Glance/s29.png");
}

MnbToolbarButton#iconGlance30 {
  background-image: url("icons/Glance/s30.png");
}

MnbToolbarButton#iconGlance31 {
  background-image: url("icons/Glance/s31.png");
}

MnbToolbarButton#iconGlance32 {
  background-image: url("icons/Glance/s32.png");
}

MnbToolbarButton#iconGlance33 {
  background-image: url("icons/Glance/s33.png");
}

MnbToolbarButton#iconGlance34 {
  background-image: url("icons/Glance/s34.png");
}

MnbToolbarButton#iconGlance35 {
  background-image: url("icons/Glance/s35.png");
}

MnbToolbarButton#iconGlance36 {
  background-image: url("icons/Glance/s36.png");
}

MnbToolbarButton#iconGlance37 {
  background-image: url("icons/Glance/s37.png");
}

MnbToolbarButton#iconGlance38 {
  background-image: url("icons/Glance/s38.png");
}

MnbToolbarButton#iconGlance39 {
  background-image: url("icons/Glance/s39.png");
}

MnbToolbarButton#iconGlance40 {
  background-image: url("icons/Glance/s40.png");
}

MnbToolbarButton#iconGlance41 {
  background-image: url("icons/Glance/s41.png");
}

MnbToolbarButton#iconGlance42 {
  background-image: url("icons/Glance/s42.png");
}

MnbToolbarButton#iconGlance43 {
  background-image: url("icons/Glance/s43.png");
}

MnbToolbarButton#iconGlance44 {
  background-image: url("icons/Glance/s44.png");
}

MnbToolbarButton#iconGlance45 {
  background-image: url("icons/Glance/s45.png");
}

MnbToolbarButton#iconGlance46 {
  background-image: url("icons/Glance/s46.png");
}

MnbToolbarButton#iconGlance47 {
  background-image: url("icons/Glance/s47.png");
}

MnbToolbarButton#iconGlance48 {
  background-image: url("icons/Glance/s48.png");
}

MnbToolbarButton#iconGlancena {
  background-image: url("icons/Glance/sna.png");
}

MnbToolbarButton#iconGlance49 {
  background-image: url("icons/Glance/s49.png");
}




MnbToolbarButton#iconGrzankas1 {
  background-image: url("icons/Grzankas/s1.png");
}

MnbToolbarButton#iconGrzankas2 {
  background-image: url("icons/Grzankas/s2.png");
}

MnbToolbarButton#iconGrzankas3 {
  background-image: url("icons/Grzankas/s3.png");
}

MnbToolbarButton#iconGrzankas4 {
  background-image: url("icons/Grzankas/s4.png");
}

MnbToolbarButton#iconGrzankas5 {
  background-image: url("icons/Grzankas/s5.png");
}

MnbToolbarButton#iconGrzankas6 {
  background-image: url("icons/Grzankas/s6.png");
}

MnbToolbarButton#iconGrzankas7 {
  background-image: url("icons/Grzankas/s7.png");
}

MnbToolbarButton#iconGrzankas8 {
  background-image: url("icons/Grzankas/s8.png");
}

MnbToolbarButton#iconGrzankas9 {
  background-image: url("icons/Grzankas/s9.png");
}

MnbToolbarButton#iconGrzankas10 {
  background-image: url("icons/Grzankas/s10.png");
}

MnbToolbarButton#iconGrzankas11 {
  background-image: url("icons/Grzankas/s11.png");
}

MnbToolbarButton#iconGrzankas12 {
  background-image: url("icons/Grzankas/s12.png");
}

MnbToolbarButton#iconGrzankas13 {
  background-image: url("icons/Grzankas/s13.png");
}

MnbToolbarButton#iconGrzankas14 {
  background-image: url("icons/Grzankas/s14.png");
}

MnbToolbarButton#iconGrzankas15 {
  background-image: url("icons/Grzankas/s15.png");
}

MnbToolbarButton#iconGrzankas16 {
  background-image: url("icons/Grzankas/s16.png");
}

MnbToolbarButton#iconGrzankas17 {
  background-image: url("icons/Grzankas/s17.png");
}

MnbToolbarButton#iconGrzankas18 {
  background-image: url("icons/Grzankas/s18.png");
}

MnbToolbarButton#iconGrzankas19 {
  background-image: url("icons/Grzankas/s19.png");
}

MnbToolbarButton#iconGrzankas20 {
  background-image: url("icons/Grzankas/s20.png");
}

MnbToolbarButton#iconGrzankas21 {
  background-image: url("icons/Grzankas/s21.png");
}

MnbToolbarButton#iconGrzankas22 {
  background-image: url("icons/Grzankas/s22.png");
}

MnbToolbarButton#iconGrzankas23 {
  background-image: url("icons/Grzankas/s23.png");
}

MnbToolbarButton#iconGrzankas24 {
  background-image: url("icons/Grzankas/s24.png");
}

MnbToolbarButton#iconGrzankas25 {
  background-image: url("icons/Grzankas/s25.png");
}

MnbToolbarButton#iconGrzankas26 {
  background-image: url("icons/Grzankas/s26.png");
}

MnbToolbarButton#iconGrzankas27 {
  background-image: url("icons/Grzankas/s27.png");
}

MnbToolbarButton#iconGrzankas28 {
  background-image: url("icons/Grzankas/s28.png");
}

MnbToolbarButton#iconGrzankas29 {
  background-image: url("icons/Grzankas/s29.png");
}

MnbToolbarButton#iconGrzankas30 {
  background-image: url("icons/Grzankas/s30.png");
}

MnbToolbarButton#iconGrzankas31 {
  background-image: url("icons/Grzankas/s31.png");
}

MnbToolbarButton#iconGrzankas32 {
  background-image: url("icons/Grzankas/s32.png");
}

MnbToolbarButton#iconGrzankas33 {
  background-image: url("icons/Grzankas/s33.png");
}

MnbToolbarButton#iconGrzankas34 {
  background-image: url("icons/Grzankas/s34.png");
}

MnbToolbarButton#iconGrzankas35 {
  background-image: url("icons/Grzankas/s35.png");
}

MnbToolbarButton#iconGrzankas36 {
  background-image: url("icons/Grzankas/s36.png");
}

MnbToolbarButton#iconGrzankas37 {
  background-image: url("icons/Grzankas/s37.png");
}

MnbToolbarButton#iconGrzankas38 {
  background-image: url("icons/Grzankas/s38.png");
}

MnbToolbarButton#iconGrzankas39 {
  background-image: url("icons/Grzankas/s39.png");
}

MnbToolbarButton#iconGrzankas40 {
  background-image: url("icons/Grzankas/s40.png");
}

MnbToolbarButton#iconGrzankas41 {
  background-image: url("icons/Grzankas/s41.png");
}

MnbToolbarButton#iconGrzankas42 {
  background-image: url("icons/Grzankas/s42.png");
}

MnbToolbarButton#iconGrzankas43 {
  background-image: url("icons/Grzankas/s43.png");
}

MnbToolbarButton#iconGrzankas44 {
  background-image: url("icons/Grzankas/s44.png");
}

MnbToolbarButton#iconGrzankas45 {
  background-image: url("icons/Grzankas/s45.png");
}

MnbToolbarButton#iconGrzankas46 {
  background-image: url("icons/Grzankas/s46.png");
}

MnbToolbarButton#iconGrzankas47 {
  background-image: url("icons/Grzankas/s47.png");
}

MnbToolbarButton#iconGrzankas48 {
  background-image: url("icons/Grzankas/s48.png");
}

MnbToolbarButton#iconGrzankasna {
  background-image: url("icons/Grzankas/sna.png");
}

MnbToolbarButton#iconGrzankas49 {
  background-image: url("icons/Grzankas/s49.png");
}



