UnusedMImageWidgetStyle#Weather {
    minimum-size: 127px 96px;
    preferred-size: 127px 96px;
    maximum-size: 127px 96px;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    background-opacity: 0;
}

