Source: omweather-icons-shiny
Section: user/desktop
Priority: optional
Maintainer: Vlad Vasiliev <vlad@gas.by>
Build-Depends: 
Standards-Version: 3.6.0

Package: omweather-icons-shiny
Architecture: all
Depends: omweather (>=0.16)
Description: Shiny iconset 
 for Other Maemo Weather
 © 2007 by Jyri Kuparinen. Creative Commons Attribution 2.5.
 http://creativecommons.org/licenses/by-nc-sa/2.5/
 Contact: http://jyrik.deviantart.com
XB-Maemo-Display-Name: Iconset Shiny for OMWeather
#XB-Maemo-Icon-26:
# iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABGdBTUEAAK/INwWK6QAAAAZiS0dE
# AAAAAAAA+UO7fwAAAAlwSFlzAAAASAAAAEgARslrPgAABmRJREFUSMe9lm1wVNUZx3/33r37cu/d
# ZCEYdiEkIYEISSHB2lRKIq86OuoUa5lSsdWpUxSk7bTVmaKhdvhWZ+p0RiuDlo4WsXWsjG219gUJ
# o0JAQIFgyGp5yRLIZjfAJnff78vphywhKFT6pc/MM+fcM+c5/3ue8z//58D/yaT/bXoAwFuKK0Du
# miOVKw1quoHq9Y65ZRUBH9+4p4zhEfe+YJl8w08fm/Thrs484KBVGKh+L6pv1K1C8drQNd0AQhhB
# fYmuB5oByQhqgK/6ifV1h3/eUX8MAvXl5XppfmCOEdSXgYGmGdeeIE03EKKVtraKpzsenx5btCiy
# HpiybOm0jUcP3eJGj94qbr+t+pdApL09/FjH49NPLVo46TdCbLwqkOfqcPOYXHlWrP5e3bR7lns2
# /vG18MrrG0KR2bOqJUmCe1c6DzY1Vty2ckVlYyTieo6fiAJrQXrq6kCjqbpkhYIDVGHbKoonRHPL
# BI8sl82N9ibZ9vujAPgCgYpVK+sr5jaHGEoOYzseARVYlvu59bKZ9CjrNN3A5wPLEovmNfvvjkQ0
# YVkeEQ4bN/9o3Zdu2Nd1Givn0DRrLpWVteBKJOJ99PR0I2uCBQtreHbTx4dPnx7ZpXptBgez0oeH
# 8m8G/NK/0plRoLHUCRfSaWeobUHwzkdW19d51BCm6eNvb/ZwY8t8vrrwxyi+6WPZrsPmK4tOs/+d
# 53jr9V2sfbixOVRmNTtOis1bjsd2d2VfVNVLpJYvbs1MC4S79eh7u/ObBhKKMzk8ga7dJ/nyTJWv
# Lb4fxSOBcxzsKMKKIgrHkSWbm5as4qb6CF27YlSGQyTPedz3dueft63cR6mUIJtJX04Gx87g832H
# YjH/h1dfC6/yqhNaCsljtC5uRBR6QQFJHt05NggbcCGRyFMoqnTvS9I58zr+uSN+rLMz/rKmaWSz
# mc+zTgiB6g1UL11a9f2mxglVn0TPc31kBKXYgzD/juSbiJABIcASyI7EwcMZ9vdGmN5wP3d810+0
# 9wDd3Scj7e3hNQcOpDYDJy+uL2m6QTbjqOGIcu+DD1z36Kpv1TfOml0tb3spyo2h3cyoA+ELomgR
# MsUAew8bnLtQjiqS9KdauGPFz5g0aSJCCHK5PG9s34pH3u7GE0PR57cknj7Tb2/VdKUw/h5JgDSm
# fkLGtbyIYhFck1zG5K97ZlJWv4GW5jl8sPddqitD5PMZ+vszuK6LbdnU1Daxf+8OhDTojqe4Mqpj
# tptOFw/t3Zd/61g0lxVCbgwEfJp0PkU4BO93G+w80oSp3Mn8tttRZKiqrmVq1TQUxUM6bWKOmOTy
# OVzhsquzt/DOjqFtZ/ouPBfUfFkzY14uqorHM/zvT8/31s8I3bVkcVX4yIELZEZ0EmXrWfL1XzC9
# vol02qRoFSkrK0PTNLxeL67jMjwyjOM4ZDMZplZVeRoaZrZmM8Opf+zc2bX91VdG6T0KolMsPEPb
# gvC3V66onNM8N4i/aip/OVjBjNmtOHYeyy5i2xaWZREfiBOLxYjF+kgkk9iWhW1ZSJLExIkV1NTW
# qZFIpK22tkYdu0eabhA0JCT5B03tbf41kcmOkhhMMX/hFNRyhf37uogPDnLhQopsLo9ppkkND5NM
# JonHE8QH4pimSS6Xw7JscrkcfX2n3EQicUgIYV0kwHgJWjyvxX/3lLAmLNvD5HCwfd1dtfPe7TQ5
# 2K9TsKDcL4OA81kbLaBQFw6QdfMcP+v0ybLeA+A4thg4O3Ag2nvsGa/XOxQbSFwC+qyo2tYTLF++
# 5VfPPjn3J5WuypGTGY6eMDFPpsERGLUGTbPKmRX2cU4q8uhTH2/e/sapH5Z+XgBWqb1cgsa7z6cA
# p/EoFsJI01MYsV//YLBbGHJy9doGHlrXgFqhnvvTnoEjn7oZ21dZwOd3HSHOFAOaXgCK40G+oB59
# xGAiJ73w4on+97vymzo7B15atmzaQ62t3g7VI0mv/PnE795+O/brffsj993cHnhkIJ4FfjvuIl6D
# faaUtwCSEdQBf03H+rojT24olfKQXlKXwBwjqN/y30r5FeFDEydd9p06PwT4+OaKcrr25B4A1IfX
# THhhQ8cgUCDSUH3Z/IFPYl8IJJVcYfRZ5QcMIAiUAXqpLwEjQLbUjgAZRt9fFmCXzmjsnK52RhcB
# 5ZIrJVeBixqmjhuXx8Vc0f4DdmPLvuKWmksAAAAielRYdFNvZnR3YXJlAAB42nNMyU9KVfDMTUxP
# DUpNTKkEAC+cBdSuDKlNAAAAAElFTkSuQmCC
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9kLDQ0EGu2JoaYAAAAZdEVYdENv
 bW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAPoUlEQVRo3tWaeZxU1ZXHv/dtVW/pqt7ojaWb
 RRsEEyISEFGjhAQVJxgnmWSSMIkmmURJXCKaxIwmLsFoUCLikvETzeg4MRE3IiBGDeYDQgQUVJDI
 ItDdNA29VHWtb7vzR1U3RduQ4EQ/mff5nM+7dfu+e3/n3HPPOfecVvkAH8t2LN0wpOe54Qe1hvoB
 gleA6wF0w9jleS7/rx7LdqZXDylLx8ud9ZbtxP8hdsCyHUU3DEc3DPdYErVsx1IU/vPGG6pPFNCw
 c6fX4Xnuur/H3P9XqdqW7fzetJxrLdupNi3nPWNMyxGmZV927qx6L5uYLjdvmCwbhsb3W7bTPNic
 puWolu1MMC3nUct2rrFs57gwKcfLhKZRP22qscDQeQH4N8t2rCMGCEaWOdpV1183WosaMU4eP4Sv
 f21orZTyh5btGAMEMlzCrTU16osnT9C+KCXR48Vz3AyoquCWm+rEsidHf+ST58QfiETEi6blzLJs
 J2rZjqrAD7721RGjJk+qA2EjhM13Lj1BTBgf+5yUzDItW1i2U2Na9veqKvX1875d+73Vfxgz5NMz
 Y0gpj1srtPd1cBSbKVMqmPRIg/bcH5JTblu4+8nNW5IrgD+MGeN8ed63mlEVExAAVFdEufbqceY3
 vr3hxlwuaIhGlUvPP692/PwrRyjjxxoowgOReF9qrb2/02CCsDCjGnNml3POJ4ZHH3u87cIl977z
 T9+fP0Ed1lDeD76oVsw+t4kLzm//SFd3fsm1V49VppwaR9cCkD7gAfqHxYAADBCR4qIqMUflG19t
 5rNzxqgxxyCQCvlcSM4NUQSYURXDMFi0cJqwokJEDAmEgA9CLRpD7cPcAQOIFD/XkFKls9tn7fpO
 XnihlW1vd5LoyRD4AUKAbhjU1pUx6ZQaPjVzKBNOKseK9lnxvyMDlu3YQN2xdYdIQfIGoNNxyOP+
 B7aybNkO6it7+PQZAZ8/U6e+pgwzahP6IcmeDLv2dLJ+8y6unGfgVNXx9YvH8ZnZwzF0tWhLVIAK
 YPQxTKkPtGTSqeBoOzAEeLKqUjRWVGjFiZWi2hRI0xQ7Eo3gBzrLV7Vxy09f5ZTmbh5YUEnzSZ/H
 iJ8H+nhQq4pqJmkIsoz1WpmV2shVrU+zevWfuWvRSzz+RCM3/2QyY0ZZVFWYjBld9m1FkRcXoPSp
 WYiUIftafOm6PAbMA4JShS7dASGlnHfmGdE7fvtIoxbRywALRLSoMgYIA6Ho3PGLrTz5+CZ+fLnK
 p2fPQ4l/A7ThA6d87yN9ZOo1enfczqJ7V7BsQxkLF57BtCmVBL4L9FEeZBZI89b2LmbPaWlPJOWM
 TDq19aihhOe56HpkW9v+4KxRI+0RkyZWoWnRIkXQtMLBvXPxVpY//Sq/ui3OlJkPocQuBjVelNoA
 kgP7BMKoJ1JzAVMn6MTcdVx3+24mTxlK43AHTRNFAk2V+EHI/B+2yi1v5m+Rkqf9AWHGe2Ih33Nd
 VTN2vL09/y/nn1enx+N2Ufo6UuosfWofv7xvHY/+PGD0KQsQ1tlAFmTm2BSWvMMMhHnU2MmMre2i
 PHibG+5uYebMRsrjxhEML33mIHfd3bbR9/lONpPK/03BnG4Ybd3dfkMYKqfOOLteKIoBGLTsd/nu
 Fau55bIEH5vYjFJxCZAGmQQGkExCeCTJIAlFKrQzCL2KEyJreWdnmpc2pZk1cziqWjgDB7vyfGve
 m+n2A+484E1/kCBv0FAik075wG2/frh15/oNvf2m7p77tjKluZuzJgWgDoHgIPgtEBQpLKG+Pr9A
 0msBrwXpFoh8kQhRdIvL58TYtGYvr77WBahIqbJo8bvy7e2px4RgVTaTOj4/ICV70hn/rh/fvPXO
 p39Xp6YzHs8+u4NfX++hKoDfgfT2IRRx2FiFxTMsjzAiyNK3PPy7NxXw2uYWNr2coLPTxdQ17r//
 bU4YPZm9+5I8+F/vHhJC3JZJp7zjcmSmZUdBzo5G1bnl5YaS7A14ec0BRlSnGdcUFsDkdyKzmyBS
 CwoIUWJtZQlQCTIoMhMU+vL5kKdW7uZXv9lOVc0oPvqxuTSdVE31x3p56403+dzn1xOJZLBNLZZI
 eNdZtnMHsCWTToVHZcC0HIRABaYIwXWTTimfcfVVYyMzzx5GNGKxZu0BzvioX9C5EKSfQyZXQNl0
 0MwC8FKFLJF0H3ACyGVDbrl7B2/scrjx1nuYOHEiRiQCUiIB3/fZ8c47LF60EBmujcyZ0/CVpU+2
 nNvenn/Isp1FQFsmnZJHHGLTchTgZEVh4dhm89Ybbxg97tabx2vjmyvQNAPfV1hy3zbOP7WLUQ0S
 RFHQYQr8vYjClkDQC34S/CTST9LT3UNHezfZVIKI6EUJe/nFr3azraWRxffcT1NTE0EY4rkurufh
 eS6BHxCLx5l4yqns3HmARNdu7r/vJEvTgmm7dmW+kMmEhmFEtuuGkfE8F82ynVpgfkW5mHvl5VVD
 vvzFBmqrykFR+p2SF0Cy16WqrChNcdgLSjdFGLyO0BxQYwglyoEuwT0Pe6zdKECJEQZ56iozzJym
 s+yPEe68+1okkEqlkMUDJ6VEIgtuA4mUIRd+9iJuW7CVt95IseAnTXzpC3bDnYtbb176RPqLYcjt
 lu38VuvfcIEMpSzo79GeMIIMsgjk4WESCEOknwQlyY59Glf8rJbpMy7hwUcvpqa2lkwmw6rnVnL3
 LxZx2vRpxGJxOg8dwrIsFEUQ9jFQpCAI6O3tRdcNZsw8l8cff4hzZ1mFC09BAfrMBKrnuWlNN17I
 Zln58p+y8eeeT5wQNTVt3Ng4mqoDGgKNJ5/Zw/i6PCPrBeAfDhhKnGzgww/ujHPaJ6/k0nnfxYxG
 8YMARQhGjhpF89hxNDY1EYlECYKAXD5HPp/HdV3y+Ty5XI5cNkcmk8H3fEIZomkaz634I1u2dXHD
 Ta37N2zM/1TCFcC6TDoVqEXvK3Xd6JCSpzo7/ReeXdFZ9/yLhxqrh5ha4wgHw9DZsKmLdEeCqeMi
 hdMqA5CSIIBdrRqvb9fZsNXgpc1jueJ78/E8H9d1yeVyZLNZ0qkUmqbhOGUIUThEQRDg+z6+7+N5
 Hr5XaIdhSChDpJT4nsfzq15izdqONYGvfKnMNJ7o6u7J9GUu1JIQAt9zpee5LZpuPLF/f+6N3y/f
 P/r1N7rrz5xeLyQKzzyzl4tOtxCoIDUOJRRuetDkoVVjaM2cxbaWkTQ0DGfqtNPJ5/P9Us1ms7iu
 S2VlJQ1Dh1JTW8uQIdWUl1egKIJUKkUYhMUzIAnDsF+dctks72zfTn1dbX0uk5kZhoEXL7NfS6TS
 8qh+IJtJ5UzLeSKXC+qTSW9iPKaoZ59Vz0036mzdrTJ+pEVvXuPqJSYnfnwuS++9Bsdx8FyXjo4O
 kslkCYiCdxs6bCi27RAEAfn84ZCmsrKKIAhpa21FciR4GYYkk0k+NWsWzWPH6S0t+0545KGHFu/d
 u0cdUV9zz979HfKoiS3DMJosS1ty/5JJ1aMay7BMnb1tedatO8iMjzqs+HPIzuzHuemnt6KqKq7r
 EoQhRiRCOp3G9/2CNGVIWVkZYRji+x5u3u3XedfNk8+7+L5HIpk4EryUZNJpuru7aWoaCYDjlNHY
 1KT8ef26k8IwfCzRm04dxRM7GnDt1+YOGzNlUqx4fwi47N/HMeeiPfxpS8Dat2DG7E+RSaePWNj3
 fVw3TxAG/eoQBAHt7e3Yto2qakWn1WdxQnp7ewmCoH8OpCTvuriux/ARIwoGsLhGfUMD9fUN9Xve
 3T0e2D8oA0Jw2uhR0bnfubQBVfWLNzmFofVRrpl/CjfcvI6GuMlkRaG3txfXLRyoUBbAhmF4BFOJ
 RALf80n0JAqxE/Qz5/t+P3iKfYXUjYJtW8V56N9NAEUR/X5fGyR9WKZpLJh/Va01YqgC0itmDhSE
 ULjoMyPYszfFwoWbqX55NVNPm0bg+4QD9Le/HRbbfQfUP1JNZHFcPp9H07TD3xe/PTy2MK6jo4P9
 bfsPCiG2vec+ULxSfnP66dFL/uMH1QooBIFCECoEoSAIIZQwdUodHMqzbNUWIhGTMc0n9kvxCOAy
 7AfRZxYHApdS0tXVRSqVwrKsIvABUi8y1HnwEL977H/Cgwc7fialXJ5Ipd9zJ24CnqmoEMMryjUO
 R2iFMFMihKYpzsMPnqmO7PR5cU0HdyxrQUTrGHPCiUQikX71kMXgjJL3YH/L5XK0t7czbNgwFEVB
 Fv/Y5+v71bCnJ9yx452eVG/v3cCCPW0H8oNd6v9qWiUSUX6zavk540+ORvHb8hzqdPnv1ftZuqad
 vQcyNFZGmNBgUR/TMXWFMIRkNuDdrjybW9NkfMmkseV8ckIVUUMgTBU1prLy1YO8vLpjuRnRVx5l
 7e4gDDfmXP8vnd09g6dVMulUGth5rPR6IV3gocSiaL5Oja3y3QtG8JXpdWzqyfPSW11sff0QWw9m
 CUKJkGBogrqKKBdf0syMphhjbA0zpqPEVRRLQa1S2JtJ8+xKd3067y3OpFMfcGZOuihWAKFAmApq
 rUlDvBxLKszSR+G+cpBs0sMNJAoQUQTWcItccwzTVNAzLkHShTBARCSK2WfpPpTUogRyKJaLMDSE
 rpPISn67dBdL7v1L8P35E9TPzWhA253tj2yFDnKkxeVXvSK7uvLhNfPHqlNPjaMD0vMR+ofKAEAO
 oWXJhyorVia4/Y53c1u2JFdIeP5nP3/zjjNOL4/WNWrIVIgUoFZpPPXCPp5d3rI5mwvue2X9wcvO
 O7eQXp8wzkAIr5ihPv5HeT8fBUGal185wD9/abN/yTffeOX1zck5Ev4V+OWOHamHF9+7Hco9lEof
 rTqgK5/m1tu3ZrK58AYQv8zlwhlLn2ibf/6cja3X/Ogvck9LF1LmP5TKox2LOxvPOacyLK9wNpuW
 M3dgicm0nFE1tfGdr/xpupSZ82SYOU9e/6OTQtOyfz1Yicm0nNuaRsY7Jk8ul6blXH+8NbL3U+R7
 xrSca45d5HMunTWr3sv2TJevv3qqbBgabzOtwYt8lu2olu2Mt2znEct25n/QDCiW7cT+2iKW7VhO
 mfPiXYsa5YVzagLLdq74G+ZWLdsp+0AZOE5mT68e4qTi5c46y3Zi/8j/aiAGI0VVW4NAMYOAB7OZ
 1NtHG/f3WPxY/QMXU0rKKX2lFa2kXdovFEWxpJSulNI/nGjsS3URFI1/6e++9iB5+n4ndFQGBoIt
 BdhXU4oWyQKcEooV33aRosVvlJLSkAvkCulsUkVKlrTThTw92UK4Qp9zKGW+L+Paz4w2iJvtN/cD
 OO+TjlcCprdYNzMP18/6Sjn9AqBE2sXSC7kiZUra+UGAByU4wsF24n8BA+A4NWKOizQAAAAASUVO
 RK5CYII=
 
