Source: omweather-icons-shiny
Section: user/accessories
Priority: optional
Maintainer: Vlad Vasiliev <vlad@gas.by>
Build-Depends: 
Standards-Version: 3.6.0

Package: omweather-icons-shiny
Architecture: all
Depends: omweather (>=0.16)
Description: Shiny iconset 
 for Other Maemo Weather
 © 2007 by Jyri Kuparinen. Creative Commons Attribution 2.5.
 http://creativecommons.org/licenses/by-nc-sa/2.5/
 Contact: http://jyrik.deviantart.com
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABGdBTUEAAK/INwWK6QAAAAZiS0dE
 AAAAAAAA+UO7fwAAAAlwSFlzAAAASAAAAEgARslrPgAABmRJREFUSMe9lm1wVNUZx3/33r37cu/d
 ZCEYdiEkIYEISSHB2lRKIq86OuoUa5lSsdWpUxSk7bTVmaKhdvhWZ+p0RiuDlo4WsXWsjG219gUJ
 o0JAQIFgyGp5yRLIZjfAJnff78vphywhKFT6pc/MM+fcM+c5/3ue8z//58D/yaT/bXoAwFuKK0Du
 miOVKw1quoHq9Y65ZRUBH9+4p4zhEfe+YJl8w08fm/Thrs484KBVGKh+L6pv1K1C8drQNd0AQhhB
 fYmuB5oByQhqgK/6ifV1h3/eUX8MAvXl5XppfmCOEdSXgYGmGdeeIE03EKKVtraKpzsenx5btCiy
 HpiybOm0jUcP3eJGj94qbr+t+pdApL09/FjH49NPLVo46TdCbLwqkOfqcPOYXHlWrP5e3bR7lns2
 /vG18MrrG0KR2bOqJUmCe1c6DzY1Vty2ckVlYyTieo6fiAJrQXrq6kCjqbpkhYIDVGHbKoonRHPL
 BI8sl82N9ibZ9vujAPgCgYpVK+sr5jaHGEoOYzseARVYlvu59bKZ9CjrNN3A5wPLEovmNfvvjkQ0
 YVkeEQ4bN/9o3Zdu2Nd1Givn0DRrLpWVteBKJOJ99PR0I2uCBQtreHbTx4dPnx7ZpXptBgez0oeH
 8m8G/NK/0plRoLHUCRfSaWeobUHwzkdW19d51BCm6eNvb/ZwY8t8vrrwxyi+6WPZrsPmK4tOs/+d
 53jr9V2sfbixOVRmNTtOis1bjsd2d2VfVNVLpJYvbs1MC4S79eh7u/ObBhKKMzk8ga7dJ/nyTJWv
 Lb4fxSOBcxzsKMKKIgrHkSWbm5as4qb6CF27YlSGQyTPedz3dueft63cR6mUIJtJX04Gx87g832H
 YjH/h1dfC6/yqhNaCsljtC5uRBR6QQFJHt05NggbcCGRyFMoqnTvS9I58zr+uSN+rLMz/rKmaWSz
 mc+zTgiB6g1UL11a9f2mxglVn0TPc31kBKXYgzD/juSbiJABIcASyI7EwcMZ9vdGmN5wP3d810+0
 9wDd3Scj7e3hNQcOpDYDJy+uL2m6QTbjqOGIcu+DD1z36Kpv1TfOml0tb3spyo2h3cyoA+ELomgR
 MsUAew8bnLtQjiqS9KdauGPFz5g0aSJCCHK5PG9s34pH3u7GE0PR57cknj7Tb2/VdKUw/h5JgDSm
 fkLGtbyIYhFck1zG5K97ZlJWv4GW5jl8sPddqitD5PMZ+vszuK6LbdnU1Daxf+8OhDTojqe4Mqpj
 tptOFw/t3Zd/61g0lxVCbgwEfJp0PkU4BO93G+w80oSp3Mn8tttRZKiqrmVq1TQUxUM6bWKOmOTy
 OVzhsquzt/DOjqFtZ/ouPBfUfFkzY14uqorHM/zvT8/31s8I3bVkcVX4yIELZEZ0EmXrWfL1XzC9
 vol02qRoFSkrK0PTNLxeL67jMjwyjOM4ZDMZplZVeRoaZrZmM8Opf+zc2bX91VdG6T0KolMsPEPb
 gvC3V66onNM8N4i/aip/OVjBjNmtOHYeyy5i2xaWZREfiBOLxYjF+kgkk9iWhW1ZSJLExIkV1NTW
 qZFIpK22tkYdu0eabhA0JCT5B03tbf41kcmOkhhMMX/hFNRyhf37uogPDnLhQopsLo9ppkkND5NM
 JonHE8QH4pimSS6Xw7JscrkcfX2n3EQicUgIYV0kwHgJWjyvxX/3lLAmLNvD5HCwfd1dtfPe7TQ5
 2K9TsKDcL4OA81kbLaBQFw6QdfMcP+v0ybLeA+A4thg4O3Ag2nvsGa/XOxQbSFwC+qyo2tYTLF++
 5VfPPjn3J5WuypGTGY6eMDFPpsERGLUGTbPKmRX2cU4q8uhTH2/e/sapH5Z+XgBWqb1cgsa7z6cA
 p/EoFsJI01MYsV//YLBbGHJy9doGHlrXgFqhnvvTnoEjn7oZ21dZwOd3HSHOFAOaXgCK40G+oB59
 xGAiJ73w4on+97vymzo7B15atmzaQ62t3g7VI0mv/PnE795+O/brffsj993cHnhkIJ4FfjvuIl6D
 faaUtwCSEdQBf03H+rojT24olfKQXlKXwBwjqN/y30r5FeFDEydd9p06PwT4+OaKcrr25B4A1IfX
 THhhQ8cgUCDSUH3Z/IFPYl8IJJVcYfRZ5QcMIAiUAXqpLwEjQLbUjgAZRt9fFmCXzmjsnK52RhcB
 5ZIrJVeBixqmjhuXx8Vc0f4DdmPLvuKWmksAAAAielRYdFNvZnR3YXJlAAB42nNMyU9KVfDMTUxP
 DUpNTKkEAC+cBdSuDKlNAAAAAElFTkSuQmCC

