Source: omweather-icons-grzankas
Section: user/accessories
Priority: optional
Maintainer: Vlad Vasiliev <vlad@gas.by>
Build-Depends: 
Standards-Version: 3.6.0

Package: omweather-icons-grzankas
Architecture: all
Depends: omweather (>=0.15.1)
Description: Grzanka's iconset 
 for Other Maemo Weather
 Copyright 2005 by Wojciech Grzanka. All rights reserved.
 Contact: wojciech@grzanka.pl, www.grzanka.pl
 NOT FOR COMMERCIAL USE !!!
 All non-personal use is prohibited unless permission is given by author. 
 See also: Weather Icons by ICONBEST.COM
 Omweather Icons Grzankas is licensed under the terms of the Creative Commons Attribution 2.5.
 http://creativecommons.org/licenses/by/2.5/
 
 
 
 
 
