Source: meecast
Section: user/desktop
Priority: optional
Maintainer: Vlad Vasiliev <vlad@gas.by>
#Non Maemo
Build-Depends: debhelper, libxml2-dev, libcurl3-dev, libpango1.0-dev, libgtk2.0-dev, libxcomposite-dev, libxdamage-dev, intltool, qtbase5-dev, qtdeclarative5-dev, qtpositioning5-dev
#Fremantle
#Build-Depends: debhelper (>= 4.0.0), libxml2-dev, libcurl3-dev, libsqlite3-dev, libqt4-dev, libglib2.0-dev, libdbus-glib-1-dev, libmeegotouch-dev, applauncherd-dev, libqtm-location-dev, libqtm-publishsubscribe-dev   
#Diablo
#Build-Depends: debhelper (>= 4.0.0), libxml2-dev,libcurl3-dev, libpango1.0-dev, libosso-gnomevfs2-dev, libgtk2.0-dev, libosso-dev (>= 1), hildon-desktop-dev, libconic0-dev, libxcomposite-dev, libxdamage-dev, liblocation-dev, libhildonhelp-dev, libhildonhelp-dev, maemo-installer-utils, intltool, libsqlite3-dev, mce-dev, tablet-browser-interface-dev

Package: meecast
Architecture: any
#For Maemo
#Depends: ${shlibs:Depends}, qt-components, applauncherd 
#For Non Maemo
#Depends: ${shlibs:Depends}, mawk | awk,
Description: MeeCast - multiplatform highly customizable open source weather forecast client based on OMWeather code 

