Source: omweather
Section: user/desktop
Priority: optional
Maintainer: Vlad Vasiliev <vlad@gas.by>
#Non Maemo
#Build-Depends: debhelper (>= 4.0.0), libxml2-dev,libcurl3-dev, libpango1.0-dev, libgtk2.0-dev, libosso-dev (>= 1), libxcomposite-dev, libxdamage-dev, libhildonhelp-dev, libhildonhelp-dev,  intltool
#Fremantle
Build-Depends: debhelper (>= 4.0.0), libxml2-dev, libcurl3-dev, libsqlite3-dev 
#Diablo
#Build-Depends: debhelper (>= 4.0.0), libxml2-dev,libcurl3-dev, libpango1.0-dev, libosso-gnomevfs2-dev, libgtk2.0-dev, libosso-dev (>= 1), hildon-desktop-dev, libconic0-dev, libxcomposite-dev, libxdamage-dev, liblocation-dev, libhildonhelp-dev, libhildonhelp-dev, maemo-installer-utils, intltool, libsqlite3-dev, mce-dev, tablet-browser-interface-dev
Standards-Version: 3.6.0

Package: omweather
Architecture: any
#For Maemo
Depends: ${shlibs:Depends} 
#For Non Maemo
#Depends: ${shlibs:Depends}, mawk | awk,
Description: Weather Forecast on Nokia N900. Ultra-customisable weather widget for showing forecast the way you want.
XB-Description-pl_PL: Prognoza pogody dla Nokii N900. Konfigurowalny widżet pogodowy.
XB-Description-ru_RU: Прогноз погоды для Nokia N900. Гибко настраиваемый погодный виджет.
XB-Description-fi_FI: Sääennusteet Nokia N900:lle. Vapaasti muokattavissa oleva sovelma sääennusteen näyttämiseen haluamallasi tavalla.
XB-Description-es_ES: Pronósticos meteorológicos en el Nokia N900. Panel ultra personalizable para mostrar el pronóstico como quieras.
XB-Description-es_MX: Pronósticos meteorológicos en el Nokia N900. Panel ultra personalizable para mostrar el pronóstico como quieras.
XB-Maemo-Display-Name: OMWeather
Xsbc-Bugtracker: https://bugs.maemo.org/enter_bug.cgi?product=OmWeather
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c
 6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0
 SU1FB9kKEAgSDnITpBUAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJ
 TVBXgQ4XAAANu0lEQVRo3u2Ze4xc1X3HP+ecO6/dmX15/X6s7cSAoTiuwTRp
 KJCYuElDCmkpLSptFatSpVb0JVGqtm7Th1Kl+YMQyQ1KECKkSlpEBTQEuU7A
 DaIFuzHFNtgY23ixvTuzu/PYnfede885/ePe2Z2n7QJV/+mVfpr7OPfO7/t7
 fH/n/A78//F/e4j/he+Jlu/aFrmcDq3vcJl3PjAAEogBidHRVPK+e3etXb9u
 xbKRkeQgwPx8uXLh4mzuH777wlShUCoDNcANlROAAiKhqPCeAXzAC3/1pcCI
 92jlKDDyZw/es+Mzn/7oJ9etW33TsvFVmyORREqISESImASwtmGs9T3Pq5Vy
 2fQ7U1PTh7/3/f84+LdfeeoYUA+/kwQGwnMZKl0HykAJqAKNEJh9PwAEEL39
 E9dN/N7vfO4Xdu7cfu/yFZu3SjUQQUTCIbpPNChAYYxLrbrgnTn95tv//PSB
 /Y9/+0f/dcutn1q2a9eurVu2bJmIRCKxbDabP3To0Knnn3/+6NGjR9/1fX8G
 KITe8ztBXCkA52M3bVr1wB/ccfdtt936u6PLNm9CJMB6oWEufVgL1hpc16Mw
 XyKdLpIvLJAaWl1es+4qXanUa6VSqeF5nk2lUmpkZCRSrVYrBw4c+OGXv/zl
 Z6anp88Cs6FX2kLqSgAk9j64a+cXfuPzfzKxaecu6Qw62Nolc8xai9YGrTVa
 G6y1+L6mVK4yPZ1lfsGyfmI7bsMjk0nbaqVUrVS9GSkjVQAppTM6OpqYmJhI
 nDhx4o29e/f+/cmTJ48BmTCkmq5GXSZkko9//a679+z59YdXrd1xoxCeDJTX
 PcXio3UD161TLJUoFArkC/OB5AvMzGQpFFxWrr6OUqlEPjeLEFZEY7FoLOoM
 +r7nIVRNSum7ruvlcjk9MTGxfvPmzWteeeWVt6rVapMIzOUACCD5nUd3/9o9
 v7LnocHkxEpsMSAG0UtxjbU+vu9RqZSZyxaYmp4hnZmnWlP4foRytYZbr5Ic
 3owQinJ5ASUFUoAUFkdFVDweSXme64NTV0ppwK9UKnbt2rXrrbX1I0eOnLbW
 VsKktgBOL+1jUTnw+L6P3veLd9/3d5HYeBKT68pLK1qxBiFTrdbJzOSZmlog
 ltjItdfvIBqJ4XkN4vEIUnhMp+dIp9NIKTri1yCFkqMjyTXFYhVLLC+EMFrr
 Wr1ej2zbtm3X+Pj4C7Ozs7NApemFLgBKidhXv3TNz91112f/JhJflcTm2wlF
 hKct18ZYXLdBLj/PhYs5UsM7WL58A+feOUu9XkFKEEIQiUTQWiNlv/SzSKnk
 yHB8dbHU8IWILyCEbjQatcHBweXr1q27anZ29u2QlbxeAOSee8euu+eun/jr
 +ODWMUwh0FS0YLBL/22sRfuGRsMnX6iQmcnh+StIJpcxNT0JVhONKoQImcho
 hAClZJ/sbxoxpoZS3upSxbiOE6sJITzf931r7URLzXAB0wlg+Pd/a9kfj628
 8WpsBYRZ/LAV3Szjuj6VqkuxVCOXrzA/Xyc5tI1KpYCjDEKIHgwlLqn8YiTE
 B2PWFFe6fvyCUsqUy+V6Pp+XQAoYCj3gtiZx5KEvxj7z2U9f/6cieoNC+EtJ
 2kxcESar9qhUq+RyC6RnCiwsGOLxcVau+jDR6Bi+7yKVQEqQUrSIRAqBaLsX
 ihBdYyMRL9bwRE058Xo8Hjfr168/k81mMzMzMybMAb1ojkiEFZOHRp9Zs/GO
 jxG9KYxvu2SccIqmtaVScZmZKzOVLpMa3snmzTsx1lCvVchms/i+ByKMNGHb
 yo61l7Z8+zOfhlusVBsrzyUSCX9iYgKlVOW555574YEHHti/sLAw1QyhyCNf
 YveKFct2gA+23iSXrtBpNHzy82UuTpcYGt7FqtXXcOHiBbTvIkKQjiMXc0cg
 wtwRbZW5bw217RdxIQc84w4ZEytMTk7aRCIxsnv37l+NxWIr77///scdgIEE
 yY/fqH7JUV4MEQ/yw1qsEG1Za42hVnfJ5eapNzawYWwT2blphPBxHLE0UnTP
 VWwbhV3hZNkqQIhEtDbcMMMLSindaDT8bDbrbd++ffedd9550gHEnrv58KqV
 qZuwOSymzQOtxtPGUK2VmctVsGI1rltFORYpWpYAgk6VewPgCoFoiMfsgHZN
 zHFi1cCOxhNCxK+99tpPOYBz00e4cXDArsDWwJZDhur+I2M09XqNixeLxAcq
 bNzo46hQedGrmNuQQjuKlu09dinZ2t0kJRHlNQakHKwJIWwIws/n81scIHrV
 Jn5aOlKCBjMHdu1iEltCEhfBjNJYl3RmjmrtBDfu3BZUVCH7BLPoVrSfxdvo
 VSwmMUKClcQi3qBVKi+ltID1fd8ePnw4Lq+/itRIimsEleDb+kK4nqiDdYNw
 wgVchHBRymN4yPDyv/8Ir+GhlGwREdCnEkglkW3PJEoKlGpK6/2OcYv3NUoq
 lBJEHB0TAqWUQiklzp075xw5cqQkt2xgLBGXq0VQmcGkweQD5VkSi4uUDeJx
 zZYtA9RqGQ4dPoKUTsj3AeerDmnjdtV6zRWIh1QKJSWOshEZABBSSufpp5+O
 VCqV4zKZYDAek8OIZk2rgz7V2wPSZSDhs2aNw+27xtm3bx/nz08jZTQoUrLF
 A1IgBN0FS3UCab+3CF74KGlRMvSkI5SUQkkp1f79++PPPvtsxVq7X+24ls0/
 ewu/OTBk5dK8pwhyHITTMn32QWiE1FgM48sd0pkCTzzxAvF4grGxUaSSGKPD
 hYxGG3/pXGu0v3Ru+tzXWmN8H63LaB287/uaWrXBxXS1+M1HH3P27dvnlcvl
 bwMvOwKkMdZpyzlbx/rHEJGfDEC0pJbjWIaHNBvWO+z5wlpePJjlqae+zre+
 FSGZSpFIOEgVFDAZ5mzIAQixJLJjniRak9vWgUbAR9aiNRQXGuKNU67O5ReO
 As8DrwMzju9j3Jr1rcVpIw0zh9VvgLimjeOlgHjcsmzM4kQUnx8d42duSZHO
 uFRrGqVYjHEQGL1UD6QIQDkqDC8CehU2AGmMBZ1F2hmUCCgYA74HMxfRk5N8
 IwcvhdPpAlB2Gg0atSp1a0l2UbmexgqDUBsDT9ig8RGAABWxDCYF4+MRNm5S
 eL7FWrs47V50qu38FYHFLYu/WIPVs+BnArAt72DgvIO7coyT76Z5p6W/pJ1i
 mXK5RNEakkL1oG+TwVIFsQFIBH8uApaIKnAilsSAxVgwlqBudJaDFulUXBjA
 NkBPg84F900rMDAeZKMsJBNcCC3f7BFZ53yG+VKRjOeyJhaha/UVDCti9Vsg
 l4NYtriUFkKgpGVxgSVES72yocWbqxkQzWK1qKABswB6BmHqS/c7ALg+NOqk
 Z/PMhb2hpX7PyUlKc1nerhbZEU92F0rRTELrY00ayGHlCEKmsDYaKNZVYMM5
 aHNqYO2SQoCwGmvKCFMAU0c0AfbpLlSLMJfl7ZOTlLoaVtpQP5/mUKnAL4+u
 QjT7FGJx2ts5PWkgzCyWLNgYiAGQcQRRbGeTwwbxGCjYCNjFVLG2jrC6u/Vr
 6QJiDZQK2PNpDmlDvQsA4B87y6Gbp8mu+RDLnXi3CZprkubaNggDA7IG1LCm
 mTeyjXYDDYK2S1vCmg5lbQuNduSM34DZNNnj73CoM3ya3WX7jz/kVHqGH8/P
 taMXV5CEzUQMktGAabSL1S3P+3+jl/UFMD8HmQxHvvsDTvWax0qAeoPSsTM8
 mZnENbr7o33BmA5rhsnXJi3P6QDSpXTHfaMhM0nj2FmerDe6438RAOA/8gw/
 SKc5Xsj090Kr5brOTUt4tEoLq/R7v5/1CxlIpzn2yDMc6BU+rQDs1BxzB1/j
 4emzGK/eO2x6npsWBft4oHPc5b6LBa8O02cxB1/j4YuzzPVbu7XShn71TS5+
 YjvXJeNcPTLef93d6vLFPaUebNKqXOcYYfsbCQMXTsEbb/LcH36NrxhLud+K
 s433jMVt+Ly9dS23J1OMDqS6N79aJ18dy99FJdukc0wH44ge1s9NwekTvPON
 Z7n/xCTnLrVy7uxO27feJb9pNXNjMW5LDZOID/awvu0B5JL9nRYP0E2hrdfF
 OTh9jPwL/8mDjzzNvzV7oFcKAMB/5Tjntm6gOii4OTlMJJ7ovRXZBqSX9Xt5
 oR8YC8UcnH6d6itH+cu/eJTvaEP1cp2XnvsD2uAdOsnJiRXMpyS3xgdwEsn+
 e6qX3Ujtp3jLs0IGzh7HfekIe//qMR6r1HvT5hUBAKi7uAdf4/iaZUylBD8l
 LIPJYcJ5fv/N4Z7SIxeagIwHU6fh7JvMHXiVP/rzb/J4NVDevi8A4WyhcfA1
 TmjNqysG2OIusDoxgIzGgzVBV4/H9pEeyW41lHJw5nX8M6d59Ynn+e2v/hPf
 N4bK/2TPV13BGP/oGaYOn+Bf14yxYCp8qFFmSCpEJApKXdlOYdMbugELc3Dx
 FPbMCS78+A0e+uKj7H3xNU707qh9cDv1Akj8/M1c/bmbuWfjKu5YsZKrh0aJ
 DI9DNAHxZACoLZ801MvQqMFCFooFvNkZTk1meO57L/Pkv7zMqXCFZXkPx3vZ
 qZdA/OPbWH3LR7hh60Y+uXyEG5JJ1g+lGFeq3atao4slsuUyF+bmOfLWu7z4
 0uscefkY6bCDZngfh3if70opiF+zkaFVY4yNDTG2dpwV8RgDIRFUp7LM5ovk
 M3nyb01SNHZRacsHcPw3Lvp8r94c8IsAAAAASUVORK5CYII=
 ====
