[Desktop Entry]

Version=1.0
Name=OMWeather Settings
GenericName=OMWeather
Comment=Weather Forecast
Exec=/opt/com.meecast.omweather/bin/omweather-settings
Categories=Utility;
Icon=omweather
Type=Application
Terminal=false
StartupNotify=true

