<?xml version="1.0" encoding="utf-8"?>
<config xmlns="http://omweather.garage.maemo.org/schemas">
 <base>../core/data/</base>
 <iconset>Glance</iconset>
 <temperature_unit>C</temperature_unit>
 <wind_speed_unit>m/s</wind_speed_unit>
 <current_station_id>0</current_station_id>
 <update_period>600</update_period>
 <update_connect>true</update_connect>
 <station>
  <source_name>gismeteo.ru</source_name>
  <station_name>Vitebsk</station_name>
  <station_id>4218</station_id>
  <country>Belarus</country>
  <region>Belarus</region>
  <file_name>../test/gismeteo.ru_4218</file_name>
  <forecast_url>http://www.gismeteo.by/city/weekly/4218/</forecast_url>
  <converter>/opt/com.meecast.omweather/lib/gismeteoru</converter>
 </station>
 <station>
  <source_name>weather.com</source_name>
  <station_name>Los Angeles</station_name>
  <station_id>USCA0638</station_id>
  <country>United States of America</country>
  <region>California</region>
  <file_name>../test/weather.com_USCA0638</file_name>
  <forecast_url>http://xml.weather.com/weather/local/USCA0638?cm_ven=1CW&amp;site=wx.com-bar&amp;cm_ite=wx-cc&amp;par=1CWFFv1.1.9&amp;cm_pla=wx.com-bar&amp;cm_cat=FFv1.1.9&amp;unit=m&amp;dayf=10&amp;cc=*</forecast_url>
  <converter>/opt/com.meecast.omweather/lib/weathercom</converter>
 </station>
 <station>
  <source_name>weather.com</source_name>
  <station_name>San Francisco</station_name>
  <station_id>USCA0987</station_id>
  <country>United States of America</country>
  <region>California</region>
  <file_name>../test/weather.com_USCA0987</file_name>
  <forecast_url>http://xml.weather.com/weather/local/USCA0987?cm_ven=1CW&amp;site=wx.com-bar&amp;cm_ite=wx-cc&amp;par=1CWFFv1.1.9&amp;cm_pla=wx.com-bar&amp;cm_cat=FFv1.1.9&amp;unit=m&amp;dayf=10&amp;cc=*</forecast_url>
  <converter>/opt/com.meecast.omweather/lib/weathercom</converter>
 </station>
</config>
