<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://omweather.garage.maemo.org/schemas">
<base>../data</base>
<sources_directory>../../omweather-weather-com-stations-db/data</sources_directory>
<iconset>Glance</iconset>
<station>
  <source_name>weather.com</source_name>
  <station_name>Vitebsk</station_name>
  <station_id>BOXX0014</station_id>
  <country>Belarus</country>
  <region>Belarus</region>
</station>
<station>
  <source_name>weather.com</source_name>
  <station_name>Vitebsk2</station_name>
  <station_id>BOXX0014</station_id>
  <country>Belarus</country>
  <region>Belarus</region>
</station>
</config>
