[Desktop Entry]
Name=MeeCast
GenericName=MeeCast
Exec=/usr/bin/single-instance /opt/com.meecast.omweather/bin/omweather-qml
Icon=/opt/com.meecast.omweather/share/icons/meecast.svg
Terminal=false
Type=Application
Categories=Utility;
