[Desktop Entry]
Name=MeeCast
GenericName=MeeCast
Exec=/opt/com.meecast.omweather/bin/omweather-qml
Icon=omweather
Terminal=false
Type=Application
Categories=Utility;