[Desktop Entry]
Name=Omweather
GenericName=Other Maemo Weather
Comment=Other Maemo Weather
Exec=/opt/com.meecast.omweather/bin/omweather-qml
Icon=omweather
Terminal=false
Type=Application
Categories=Utility;