Source: meecast-applet-enable 
Section: user/desktop
Priority: optional
Maintainer: Vlad Vasiliev <vlad@gas.by>
Build-Depends: debhelper (>= 4.0.0)   
Standards-Version: 3.6.0

Package: meecast-applet-enable 
Architecture: all 
#For Maemo
Depends: ${shlibs:Depends}, meecast 
Description: Activating MeeCast Applet in events view. You should uninstall AccuWeather before installing this package. 
XB-Maemo-Display-Name: Activating MeeCast Applet 
XB-Description-ru_RU: Активизация апплета MeeCast в области событий. Вы должны деинсталировать AccuWeather перед установкой этого пакета. 
XB-Description-fi_FI: Ottaksesi MeeCast sovelman käyttöön tapahtumanäytössä sinun tulee ensin poistaa AccuWeather. Vasta sen jälkeen voit asentaa tämän paketin.
Xsbc-Bugtracker: https://bugs.maemo.org/enter_bug.cgi?product=OmWeather
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9sLHBAKM4ArtZYAABJSSURBVHja
 zVt5lFTVmf/d+96rrZeq7qY3qF6QZhWRRjAIIugkKmg8icsgiprEZIAkZDJnlsxkmeMfM5MzyZzE
 CIEZNYloCEaJelwwQBQRGhTppmnZeq9e6L279qq33jt/VFPN66qiq5qGk3vOO6er6rvf/b7f++53
 v+U2wXUanL8mQBbcEHg+AMBgWSDIBgAwIQiRR2LfkxHYHuwihLDrIReZUiXDe6YbYGsJ1Jup0Xcj
 N/pncYzkER6xgUUsIDLAlVFqBkAb/VsCQEclsgLcBlCHykmWTKhrmJCSdiaUnOWw1QvAn0nWhp6/
 CgA4f81uBJXHwboeJ6xpMTe6XYT3g7BhAPoUvysRnBaAk2IQoczH6ex6UPfvhZyy3YTcKV9XALTA
 nhXcaPsvqtWtIKxZIrwfAMf1HQScloDRKg3iLUc4Lf+Rxbnxk2sKQGR4120imnZCq7lZYBdGzfiv
 YQgwyDzAurIewpzNFueTn04pAF3HfmEvmoOd0A48IRj1dKoUN4yY1QjCFLkiQmHQxYxJd+/qCwa+
 PXPmM/JVAxAZ/r2bq7XHJOPdMsr9U/reurptAIAytzylfBmc0MT7OolUvcIx7amLkwZg4OLOagc/
 ccjCDjhJ3GNP3TjXcg84gBur9k/9sQsLVHq3P0KW3Vk0Y8upVHQ01Q89bdsrbMaJQ1bjfSfhWszH
 TeHDGeAouA9ZBfeBM0w5f8JVWI19Tptx4tBw93PujADoOvYLu104d9TKDjo5Z+AcaT3nz2rQdZ4W
 bf8ARdnse1E2+17099O05ug6x7mzWtrycM5gZQedRD9fw5ufs6YNgL00sMPO9rsJVzNC3VX2PRzY
 b4eq8glpvcFbYbU7YbU74Q3dOiG9qnIc2G+Hy/29jC3Bwf9S3k99O9ICoPv8z2+z8sNPEh7MAOnY
 47BHsGb9YRw8mI9IxGw5kQhDS7OCo0dCeO8dP4hj3ZgjcqzDe+/4cfRICC3NStK5Bw/mY836w8hy
 RDKWi3A/HPjoa72tzy6b0An2NW4+nSe+tWgyR50hLIK94iAiwX4c2L0Oty3tQG+vhqYmA0LWCrhv
 WI3SyuVwTZuFbJcblIoxr810hHzd8A21otfzCbrbDsMI1WDOPBGlJRKOn6zA3Y/vgyOnGNGOL0Ew
 GibhFimG1a+emj5/55KUALSf+4/l+eK7x62kbZLnsAihvBmi5IAS9eODvd/B9MrbMH/p47DaXRmx
 UqI+nD+5Gz2e4/ibh38Nq90JXYvA6JwN8MmF2QqbhcHQ2qVVt/x7bVIAPJ9v+ajY+uZqchWBTjh7
 L/JLV12TeG+k9wiyQg9fxdEoYFB76GD5jdvvTvABhw59zZZFm1cgA68//qmrjWCwL/1EjTMFnKcf
 Xwz29eDUqcik5QM34CCNq/ft22odS7FGR1F2yWNW8ok0mZyGM+DocR3l1S9ibvX65NGZ1gcefh8s
 UgOmnAPXOoFLyhMLiGUmqHUhqON2kKy1oGJeAo+51etxnhk4enQrVt4mgtDMZbWg21JZsGQ9gJdN
 AFgwsFEk3hhSmdkVjhwnWLD6LbhnJZq+EamD4X0ORvAAACMFDxVcbgSTGwH/nwDyAwg5D0DI/x4E
 21wT6fxbHkOOy42jH/8tbl/OM85nRTICKx188hIAcQztYm8158mDGMaAxkYZvb2Jgc7Jeo4Fq19P
 UN7QRqD2bIXSsQ564H1wbqRvrkyF7t8LxXMX1P4fgxnmXME96w7MX/VH1NbzhECpt1dDY6MMxlLx
 57CJvUtMTvDcxz8snZZ7sCdL6kh5hCi2LWhoGMbFtmOAehZFhQQOO0XB/Bcwt/pRc70gXA+95xvg
 2sUpcX7UXg1x+ksQrSWm7y/U7cHIhb9DJMowMMgBy42YccMKLFpUAKu8M2W6HtIqMCCvKLlp+a/6
 RQAI68G1pfRK5s9g1d/EirvfgOT4FTQ1jL7OzxAO9CUorwZqoF98ApyFp8z7G5FTYB33gs3YA0vW
 /Pj385ZswAUQlOWWYHX5MkiWLGiRdmjdD4Lz1CeZRL2IhtlaAC+JAECJukgg4SsWdbjaA717A0jl
 u5As01BWtSbxnA3UQe/eCLDI1Gd3ai/07sdAKw9AtBZeBsLYC9DVIejdG8DVK59EEsIgRL0p7gQl
 MnITYfqEB4Aht4F7HgaZ+TYEKXfMPgwZVLDBmrsE1gXtCDS4QaEmD0as30LB3P80fRc8XQlCkoOm
 u56Fq/yxMfMdOgGH6AQVLON8TgCq52EwOZ0gToeFeBfFnaCFBmamm1yw6Dk0f/KPZnaqf1yx1JU8
 BeYSctxbEoFFcnqdF8PpfsQMYN9ziPRuS+DReuIfwKLn0k6SLELghjgAAg0XpO+hAV1cPA794DiF
 cpPOVcT7YclyJwEgOT3LfhqESnE6OdAMi/YXwLsDqjxk4iHzORkFRRKNFMQBEIlqS3fi4BDB7MUb
 zQqow2aXSVzJs8UZW1OYZCI941nILfu62Xt37wAHA9ODkHueNf1WeeMGDHvTj2IpZBsAUP7MM5Ry
 xZKu6YSxHFa7cwz5cB+YOjQuNko0aVVYDYdrYQwwPYzQwJExeupMoNdsGyBaxtbR5CFI8t6xPD/4
 Kgx9LD7IzStHQF2a9hYQiWbhHIR+uOBsKSV62siJOStMygZ63oah+cYd3M6Eedbi78R/9nfsghZp
 uwwA17i3LyKnfLN5nc7nAa6M0egB+Ho/NEd5uavSzwugkv1vbCyh3ghzgRtpI+csXGpWNnoMXPea
 s2Ihz/w2yULkFK8ZzRt0wPcCmO67jN5sMZplHaxZ5WNbSo+CBnclWpX/iGldZ+GtGVSKDOia5qIC
 N6R0wtRIlOF8s4zsvFnm5II3gunjyuWC+Y2Khd8ee/sX/wTKLoKPA8DsK75jYufr2g3CvIn7WD1v
 osvJr8L5ZhmRKEurXhiJyqKoQ8uh4EmDoEDIQEeXgq5ewOa6HVU3fRXZrnFeXO0AF81bgIquOD+D
 upHv/urYkdm/EyKHyWrIZfSatByu/GpTqsmGnwdNIh/Vu0yfs11lsJf/DMc/fwuy7yjKSoGKMity
 s4UkwT2DKDCnqMtEYIwnhMFRNQs+dgemV6/DF9avhcWWm3h86UrMpI1EAC7xI/mbQEhMgEDfhxCM
 czFdjTGroVJenN5S/G0TL3/PexAMT9IgjfOQeV0q4uaVm3Hzys1Q5QC6mt6Hb2AfROVj2C3m0Jwx
 DiXMRRHQAcYT8gaHlWJWsRVSvgWimCLnJATcADBuC1ApDwaLHYd55U+MBTE92yFeWueyLSCIedAZ
 YAhVyJt+jznw6f01pBRhvaamjl1FkaBsugWazQrNR2NymhDgAHSIOtcMFveMl6GrB6EMvQVl6C2A
 WCA5V8JSsA5S4ePxYqYgWBCMCLBLZgsQLHnQOcDzvgYqOmItNm8DBPlo/E1y5jfRaxyghZtMVbrQ
 0KcQ1bqUIXpUzR73VnVoA7uhjuyD5q8BuJq6fcYBjcm6GA1Fg4xN0N3mKjTvIWjeQ7BY1yDbVTEm
 hFEJh+FPAADcCmflt8aU6dgG8bI1iGEGgJFpyC83Z5aRru2mOeOHSirN9IFuqK3/nF7/kBFEg8xP
 IVo1xkja56cSbDWbKJ0HwswAiJY86LkPQ7LFsjYl1AEaes98Dl82R7TmAflfBxXGmjdysBVC6OAV
 ZTGk+eZwONCSth6MAdQKnVrtxGdk0JvTAuY+oy1/NbgeHAeAC7mV3x07TTw7QLhu4kONYCyxACBI
 uXBVftOcIXp2xAoaKeTQdQ5nqTkl14O1aethGAQsEvbR9v4PezWNpo2cVTPfPaiY/wD6hnQYWsjU
 p7flxOIFXfECvleTlqZ01We2gkuKKMMgvtevKEf3YC7cVXeaZLFqx9LWQzcI3/Sj2l76zDNgikbU
 tCcGaqApY+Zrc+QjKKyFrnqT7jVv+wuAEU3OSxlJPqftBXAmpzZ9BjDno3FnDADRYBd0/6dpAyCr
 RI1ng4pK5LQbjkyD1/NHc7n6C/8CXfElOhpDBhv8XWozVJPP4UMvXVGGlk4RC1d83xwvdL0e21Jp
 6iErRI4DEAiT4bSRkxnONhwzLV5QsgCaGkp8k57dIPpw6jeZxGq8nj8A+kjKOV6fDkfFP8GeXWi+
 bHGmHrKcfjocDGMoDoDXz9vARouoV3hUhaO2tRwr7v9VYmhJSEK3ROv5vyvyMzRvQpNBvZh6jiIz
 tAXuwOJVf5+w/sovb0NtazlUhSMdXbxB2hoHYChAzxgs5phSPZrOUNs6Dfc8td9UDxgLS80NS1/3
 OyBK+xV5jrcAf/c+ULUtKa2iMtR73LjzkV0gNDG2t9qduOep/ahtmQZNZ1dcVzeAAR8/Ey+KhmS9
 PqoIyLIm77pyDjRdzMMXH38P9uxCMD0CPXgKhjIAe0ks0XGW3B7r3/U04KNXv4Kls/1w2K7cuzI8
 P0a/58cTBi2BsIHTHW58aeObCeBHe16DYJ8BMaca9uxCfHHjezjxxj2YX+ZL2TSKqiLkKGuIAxCU
 1f3+iAiHRU95/Wzpqqdg9L2A4QufQQuejbeoDYMhe8ZDcdLC6Ytw37eOY/8rD8Od3YCyEsvV3HSC
 p0fBIF+DBzbvhsWaYwbG81tEmn4Qb81LOTdCci3D0lVPIezZlrI34A8L8EUD+0zt8QPPl3tvKo+4
 MpWRCHbkLt4D+7SVCZniyQ//B60nf4GbbjBQmCdlpHjvkIYLXQLmLP8Rlqz5Psi4Tmhk4BAC9RuQ
 mOVMPE53OLz3burMB4D4Zlq1NOee2TP0mZl3hnUoA/sgOJdBcpSZUlP3rDtQteRpNHkCqD/dgHA4
 Gkt5JQpKzQaqqByDXh0tXTLOdGTBUfFN3LV+N8rnfhFknIONDhxCoOFpcEOejFHh5AWx5p2PAq+Y
 usNd/frLgYhwZ649c0S5FoCvdj34wmfhmP6Q+cJV1jTc+eCz0L/8U3Q2fYDOpg/Q1NGAaLALTPEC
 hIJKechyVaDIvQQLlt2Fsqo1oEJyiwl5XkTgwk8mfUvEHxHQNaC9knBDZOvWKuuDN0eCc0pVCVcx
 tModqFjwyDW5IeI58yosnVuviseFHova8llP9qbnYzc/4xtr27YW5azHOGIYowHVZB4DEG3FuFZD
 spfG6reTlM8wgHMefuiS8iYAAKCzV/+3Xq8w6duZwShBkXtpvF3mrduCcPuLSUPeCbt3kW4Em5/F
 SN0mGGogdoulbBmCUTJp+Xq8Au/s0X5oylwv//Cz3wyfqJpRWF96CxZP5v62LMyDZHFAi/Zj5MSj
 0PxnEO7eC5z5CazTVsJasAIWVzXErBsg2GeAjCYznOkwohehh9ug+uqgDB2BMnw8ni5rwSbk3/pH
 SPYiyMI8ZPPzmfspTnC6hdX9/HdDdSkBAIDzHmXTPLfl+MwiZHwDR8pbCjXUgZFPHoEebr+8vgZl
 4DCUgcNjtHP+G8XzvwEAGGjcBa3pX1P7Fd8ZDNfcj/zleyHl3QIEMwegfYCzCx5tc2J1eNz45cuB
 E4dPs10hOfNbWKVFBRg6eh+0UPvE9MNjN8TZ0P4J6bVQO4aOrkNpUUHGcoVk4KN64ze/fMV/ckIA
 AGCAjmw5foF16kZmeyzcsg1GtD8tWn34KDTFD03xwxipSa+KE+1HuGV7RjLpBlBzzmg7M+j9bjJd
 hWRfnjgBY+4M7NUofbqsgNoy2GgZkBrQbQsg+1uh9b2Na7MGcKxR951uVZb9Zo/uSxsAAKj5XA8U
 FdH9hOLR6XmCjZJrcK4RASzcAhZqnHLWmgEcb9T8R85od23fHW1KKcJEjDY/Yp9RXUVrVi6wVWRb
 pxYFOnrNhmmBKeUbUjiOnJU9Zz185fZXI1e8MCRMxOzkOT04M0fb2TxESnMcWOzKEshUwcANBdxQ
 pkxxxoHmHo29+2n0hdq+6LqXXtMmDEAy0mXzV6RbZ1eI/1tdZakuLxAhXJN9kfkwGEfXsM7rWtS6
 1i59y443tM/S3oWTWXDTQ9JSdyH96cIK8Q73NMmSny3iekPBAYwEdXQNaeqZDv2jzn72wxff0moz
 dkNXI8TWtbAadmFDaRF9orJIrC52CXkF2RJy7XTq/hfwUmjMOIIRhuGQhn6f4W3v10/1DbJXBgXj
 D6+/DnXSfngqhdzwAIpzBNxrk3DzNKe4sMglVOVm0XybhdjsVlgsAiWW0U4zIQTiKEi6EavVAYCq
 c6gG41EFqqxyORBhwwNeo3UwoH+uqGgIGvjznrfRP2UH0fU02288gOkEKB4tGtsIhXP0bz+hkEdN
 u/+3b6Pnesn0/4gnS8+0odv8AAAAAElFTkSuQmCC
 
